[2015-09-24 08:17] pchainho opened #1 "Registry 0.1 Implementation"
https://github.com/reTHINK-project/dev-runtime-core/tree/master/src/registry

Functions to be implemented locally ie no interaction with remote hyperty is required yet:
- registerHyperty()
- unregisterHyperty()
- registerStub()
- unregisterDataObject()
- registerDataObject()
- unregisterStub()
- discoverProtostub()
- discoverProtostub()

for the following use cases:
- https://github.com/reTHINK-pr

[2015-09-30 12:50] shumy opened #2 "Interaction between APP's and the RuntimeUA"
So that applications can import and use Hyperty API's there is a need to call methods from the RuntimeUA module and the Hyperty instances. However, for security reasons there is an IFRAME between, and only is possible to transfer messages with object types defined in the "structured clone algorithm".
One idea is to build a Remote Procedure Call module that can be used in the core and in the app.js

[2015-10-01 11:32] pchainho opened #3 "RuntimeUA Catalogue (back-end) 0.1"
Back-end of https://github.com/reTHINK-project/dev-runtime-core/tree/master/src/runtime-ua

Functions to be implemented:
- loadHyperty()
- loadStub()

for the following use cases:
- https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/basics/deploy-protostub.md
- https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/b

[2015-10-12 14:52] aoncorici opened #4 "Checking for Malformed code"
Any suggestion for possible patterns of malformed or mal-intended code.
Any suggestion for libraries/projects that do that.

[2015-10-12 16:53] vitormsilva opened #5 "Workers and ES6 to ES5"
The Workers doesn't support ES6 consequently, we need convert the source code from ES6 to ES5, after converted with babel (gulp task in the source code), i loaded the source code inside the worker with success, but i can't access the variables, methods, functions, etc.

@antonroman and @FredLuart have you any suggestion?

[2015-10-19 11:07] pchainho opened #6 "Msg BUS 0.1"

[2015-10-19 11:07] pchainho opened #7 "Syncher 0.1"

[2015-10-19 11:10] pchainho opened #8 "Runtime UA Front-end 0.1"
Part of:

https://github.com/reTHINK-project/dev-runtime-core/tree/master/src/runtime-ua

Functions to be implemented:
- loadHyperty()
- loadStub()

for the following use cases:
- https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/basics/deploy-protostub.md
- https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/bas

[2015-10-28 16:06] #6 closed, assigned to shumy

[2015-10-28 16:07] #7 closed, assigned to shumy

[2015-10-29 09:32] #8 closed, assigned to vitormsilva

[2015-10-29 12:59] emmelmann-fokus opened #9 "Completion of Spec for Catalogue descriptors / Catalogue Data Model"
# Refinement of Specification of Catalogue Data Object and derived catalogue objects

Hi,

In order to progress on the Catalogue implementation as well as to progress issue #3, I looked at the initial specification of the Catalogue data object.  I might not remember all but what we discussed regarding "what each attribute means" but since I cannot answer my question from the specification, I'd lik

[2015-10-29 15:58] pchainho opened #10 "Registry.registerHyperty() function change"
We have realised the "postMessage" is not required anymore at
https://github.com/reTHINK-project/dev-runtime-core/blob/master/src/registry/Registry.js#L82

@gamdias do you confirm?

[2015-10-29 16:38] emmelmann-fokus opened #11 "Update of MSC to reflect implementation"
The implementation of the loadHyperty method is "optimized", i.e. common functionality of "alternatives" is taken out the alternative.

In the [loadHyperty MSC](https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/basics/deploy-hyperty.md)
Steps 17&18 as well as 27&28 have to be excluded from the alternatives and add only once in the end.

The diagram needs

[2015-10-29 16:43] emmelmann-fokus opened #12 "Missing MockUps for parts of the MSC in code for loadHyperty"
The code framework / mock-ups is missing placeholders for steps 8--11 as shown in [deployHyperty MSC](https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/basics/deploy-hyperty.md).

I would suggest to add the placeholders, even if the do not do anything at this point, just to be sure we have the final code structure in place and align the code with the agr

[2015-10-29 16:51] emmelmann-fokus opened #13 "Missing prototypes and calls for GetAppSandbox (and others) in loadHyperty() method"
Methods of corresponding classes are not called for steps 12 -- 16 as shown in the [DeployHyperty MSC](https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/basics/deploy-hyperty.md).  They should be added to complete the code structure in order to assure that the later is in place and that the interfaces are persistent according to the spec.

Vitor, I don't

[2015-10-29 16:54] emmelmann-fokus opened #14 "Deploy component in sandbox"
Per discussion on 2015-10-29, it was unclear if

`_hypertySandbox.deployComponent(_hypertySourceCode, _hypertyURL, _hypertyConfiguration);`

should return a promise or not.  See also [DeployHyperty MSC](https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/basics/deploy-hyperty.md).

This needs to be clarified.  Also, the loadHyperty() method code structure

[2015-10-29 16:58] emmelmann-fokus opened #15 "Missing prototypes for one alternative in the deployHyperty MSC in the code framework"
We need to have proper prototypes for the methods in Steps xxx -- yyy (see [DeployHyperty MSC](https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/basics/deploy-hyperty.md)) in place.

This assures having the correct final code structure and assure consistency in the agreed interfaces.

Other classes involved in the message exchange need to provide prototy

[2015-10-30 17:57] #10 closed, assigned to gamdias

[2015-11-02 09:26] #14 closed, assigned to vitormsilva

[2015-11-02 09:26] #12 closed, assigned to vitormsilva

[2015-11-02 10:17] vitormsilva opened #16 "ES6 Code"
I reverted to ES6 the changes made to the Identity Module. To be noted that it was decided some time ago to use ES6.

Code in ES5 will  throw errors on testing, compilation and following the requirements of the framework.

We can give support if needed?

[2015-11-02 18:15] shumy opened #17 "MiniBus Proposal (normalize the message system)"
Instead of having in some places the API postMessage to receive messages and the postMessage in the constructor to send messages, and in other places the MessageBus is passed in the constructor, I propose an unified system. Using a MiniBus API that has the bare minimum for message communication that should be used in any place that the message system is needed.

MiniBus will have the minimum API p

[2015-11-04 16:25] #15 closed, assigned to pchainho

[2015-11-04 16:28] #11 closed, assigned to pchainho

[2015-11-05 09:57] #17 closed, assigned to shumy

[2015-11-05 16:58] #13 closed, assigned to vitormsilva

[2015-11-06 13:21] fbeierle opened #18 "Graph Connector"
The Graph Connector serves as a address book/contact list.

As discussed in the WP4 telco today, I describe the interface in this issue before committing code.

`generateGUID()`

`useGUID(StringList)`

`addContact(GUID, name)`

`getContact(name)`

`removeContact(GUID)`

`addContactsBloomFilter2Hop(GUID, BloomFilter)`

`create2HopBloomFilter()`

`getContactsBloomFilter()`

`checkGUID(GUID)`

`setPr

[2015-11-06 14:32] #18 closed, assigned to nobody

[2015-11-06 15:50] #1 closed, assigned to gamdias

[2015-11-12 16:40] #9 closed, assigned to pchainho

[2015-11-13 12:03] pchainho opened #19 "Runtime Registry: Remove IndexDB persistence"

[2015-11-16 13:22] #5 closed, assigned to nobody

[2015-11-16 15:52] joelpinheiro opened #20 "Proposal: gulp task that verifies unit tests before commit"
Dear all:

I have a proposal to improve the code quality sent to the repository and to speed our git commands.
I had created a gulp task "push" that runs 4 commands synchronised.
- karma test
- git add <file_path>
- git git commit -m <message> <file_path>
- git push

If karma tests didn't go well, all the follow operations will be canceled preventing the developer to send bugged code (that didn't

[2015-11-18 11:33] pchainho opened #21 "MsgBUS/MiniBus update with Msg Factory & URL Factory"

[2015-11-18 11:53] pchainho opened #22 "RuntimeUA update with Msg Factory & URL Factory"

[2015-11-18 11:56] pchainho opened #23 "Runtime Registry update with Msg Factory & URL Factory"

[2015-11-18 17:24] vitormsilva opened #24 "Demo of runtime-core"
You already can test [example](http://185.17.229.168/example) of the runtime core and make hyperties communicate through vertx or one each other;

If you find some bug please submit an issue.

[2015-11-18 17:57] #19 closed, assigned to gamdias

[2015-11-18 18:02] pchainho opened #25 "Runtime Registry integration with Domain Registry back-end server"

[2015-11-18 19:27] pchainho opened #26 "Identity Module: initial version implementation"
Features to be Supported:
- login
- hyperty-user association
- assertion generation
- assertion verification

[2015-11-19 09:17] pchainho opened #27 "Orange IdP Proxy: initial version"

[2015-11-19 09:58] pchainho opened #28 "OpenID Connect IdP Proxy: initial version"

[2015-11-19 13:21] pchainho opened #29 "Policy Engine: initial version"

[2015-11-26 12:11] pchainho opened #30 "Syncher Manager: initial version"

[2015-11-26 14:33] KCorre opened #31 "OpenID connect scope"
[code]

Adding "openid" to scope would return the id_token when exchanging code for access_token. You can also replace your url scope with "email" and "profile". These are standard scope for OpenID Connect.

[2015-11-27 16:18] #31 closed, assigned to gamdias

[2015-12-02 12:28] Endebert opened #32 "adapt Registry to my recent implementations"
After implementing the connection to the catalogue broker and testing it, I noticed that after getting the hyperty, the registration is failing, since it seems it can't extract the domain url from the hyperty descriptor url.

I can see that in the registerHyperty function of the Registry component, you seem to expect an url similar to this: hyperty-catalogue://<service-provider-domain>/<catalogue-

[2015-12-04 10:33] pchainho opened #33 "Graph Connector initial version"

[2015-12-10 08:55] dvilchez opened #34 "Cross origin requests - hyperty-catalogue protocol"
I'm doing some acceptance tests in dev-runtime-browser and chrome is reporting this error when I try load a hyperty (hyperty-catalogue://sp1/HelloHyperty):
XMLHttpRequest cannot load hyperty-catalogue://ua.pt/HelloHyperty. Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https, chrome-extension-resource.

I checked tests in core but they are fail

[2015-12-11 11:04] pchainho opened #35 "Adapt RuntimeUA and Sandbox to use the new SourcePackage object"
check [Catalogue Data Object](https://github.com/reTHINK-project/architecture/blob/master/docs/datamodel/hyperty-catalogue/readme.md)

[2015-12-16 16:19] #35 closed, assigned to vitormsilva

[2015-12-18 14:32] #30 closed, assigned to shumy

[2015-12-22 15:56] #25 closed, assigned to gamdias

[2015-12-22 15:59] #26 closed, assigned to Ricardo-Chaves

[2016-01-05 16:25] dvilchez opened #36 "Adapt implementation to new version of runtime core"

[2016-01-05 16:25] #36 closed, assigned to dvilchez

[2016-01-06 17:24] #34 closed, assigned to nobody

[2016-01-06 18:19] pchainho opened #37 "Sync Manager: improve scalability"
Incorporate reviewed and more complete [Sync Manager spec](https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/data-sync/readme.md)

[2016-01-06 18:24] pchainho opened #38 "Sync Manager: DataSyncChild support"
Required to support [Group Chat Hyperty](https://github.com/reTHINK-project/scenario-service-implementation/tree/master/docs/hyperties/group-chat)

[2016-01-06 18:35] #24 closed, assigned to nobody

[2016-01-06 18:36] #20 closed, assigned to nobody

[2016-01-06 18:42] pchainho opened #39 "Generic "Persistence Manager" component"
To be reused by other core runtime components including Runtime Catalogue and Registry. To be based on IndexDB?

[2016-01-06 18:46] pchainho opened #40 "Runtime Catalogue: persistence"
To use the generic "Persistence Manager" to persist catalogue data avoiding the need to download previously deployed resources from the Catalogue server

[2016-01-08 10:23] vitormsilva opened #41 "PolicyEngine Authorise - assertedIdentity wrongly generated"
When we send a message from "Alice" to "Bob", the message pass on the policyEngine.authorise and "stamp" the identity of the sender.

The problem I found is when one message is sent by "Alice" is "stamped" with her identity, but when it arrives on the message bus, in the "Bob" side, that identity is replaced by his identity;

The policeEngine need to be clever enough, to detect if the "from" and "

[2016-01-11 18:55] Endebert opened #42 "Protocol stub discovery"
I have an issue regarding the loadHyperty() procedure I would like to discuss with you.

While updating the RuntimeCatalogue, I noticed that during loadHyperty(), the runtime tries to discover protostubs by doing a GET request on the domain of the loaded Hyperty. More specifically, it calls loadStub(domain).

Example: let's say I have a hyperty located at http://localhost:8080/.well-known/hyperty/

[2016-01-14 12:07] pchainho opened #43 "Data Object Schema @ Catalogue Runtime"
Support [Data Object Schema](https://github.com/reTHINK-project/architecture/tree/master/docs/datamodel/hyperty-catalogue#data-object-schema) in the Catalogue Runtime.

Functions to retrieve Data Schemas should be similar to the ones used for Hyperties and Stubs:
- getDataSchemaDescriptor( URL.CatalogueURL )
- getDataSchemaSource( URL.URL )

I guess this will also have an impact in the CatalogueOb

[2016-01-14 12:10] pchainho opened #44 "Runtime Descriptor @ Catalogue Runtime"
Support [Runtime Descriptors](https://github.com/reTHINK-project/architecture/tree/master/docs/datamodel/hyperty-catalogue#hyperty-runtime-descriptor) in the Catalogue Runtime.

Functions to retrieve Runtime Descriptors should be similar to the ones used for Hyperties and Stubs:
- getRuntimeDescriptor( URL.CatalogueURL )
- getRuntimeSourceCode( URL.URL )

I guess this will also have an impact in t

[2016-01-18 09:53] NicoApizee opened #45 "Nodejs ProtoStub code eval on RuntimeUA"
I try to use the example file provide in repository to load Nodejs protosub:

The build of NodejsProtoStub.js file is provide by gulp task in dev-msg-node-nodejs is ok, even if nodejs required library are not embedded (it use local relative lib folder), I manually embed socket.io-client  build from officiel website and I think is ok.

The gulp encode task seem to be ok also (a point here, I don't

[2016-01-18 14:58] vitormsilva opened #46 "RuntimeCatalogue encoding support"
The runtime-catalogue should also support base64 encoding as done in [runtime catalogue file](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.3/src/runtime/RuntimeCatalogue.js#L108)

I think this was discussed in [issue 65](https://github.com/reTHINK-project/architecture/issues/65);

If you need some support, please let me know.

[2016-01-19 16:13] sdruesedow opened #47 "example: "WebSocket opening handshake was canceled""
When I try to run the example application against the Vertx msg-node I get the following error when the stub tries to connect:

I tried the Vertx node directly from the vertx-folder via mvn, and also via the docker image, which made no difference. For now I added "msg-node.ua.pt" to my /etc/hosts to make it resolvable.
Is there a problem with the certificate in this constellation? Could we perhaps

[2016-01-20 08:46] sdruesedow opened #48 "Runtime only accepts lowercase msg-types"
The Runtime implementation should accept all combinations of lower-/uppercase for the message types, especially since a lot of the specification examples use uppercase only (CREATE, RESPONSE ...).

[2016-01-20 12:23] vitormsilva opened #49 "New Runtime Core released without hardcoded domains"
After some problems with the hard-coded domains, we have just update the [Runtime Core@dev-0.3](https://github.com/reTHINK-project/dev-runtime-core/tree/dev-0.3) with a new version;

This version also include a new parameter on RuntimeUA constructor. This probably affect the developers of [Browser Runtime](https://github.com/reTHINK-project/dev-runtime-browser)

[code]

This parameter inform the r

[2016-01-20 16:02] #42 closed, assigned to pchainho

[2016-01-25 16:53] ruimangas opened #50 "Bad url problem solved"
The problem with the URLs obtained from the Domain Registry is fixed. Please, remove the code that fixed the bug. It should work well now.

https://github.com/reTHINK-project/dev-runtime-core/blob/master/src/registry/Registry.js#L100

[2016-01-25 18:15] vitormsilva opened #51 "Runtime Catalogue - createSorucePackage params order"
Hello @Endebert,

The order each parameters is passed to factory on [RuntimeCatalogue, line 351](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.3/src/runtime/RuntimeCatalogue.js#L351) doesn't correspond to the order implemented in the [dev-service-framework - line 128](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/catalogue-factory/CatalogueDataObjectFac

[2016-01-27 16:08] #44 closed, assigned to Endebert

[2016-01-27 16:08] #46 closed, assigned to Endebert

[2016-01-27 16:45] #51 closed, assigned to Endebert

[2016-01-27 16:50] #45 closed, assigned to nobody

[2016-01-27 16:56] #32 closed, assigned to nobody

[2016-01-27 23:36] #41 closed, assigned to gamdias

[2016-01-28 09:20] #3 closed, assigned to aoncorici

[2016-01-28 22:03] #50 closed, assigned to gamdias

[2016-01-30 10:18] #49 closed, assigned to nobody

[2016-01-30 10:19] #47 closed, assigned to nobody

[2016-01-30 10:21] #2 closed, assigned to nobody

[2016-01-30 10:27] pchainho opened #52 "Registry getSandbox() returns "Unhandled promise rejection Sandbox not found""
There is currently a hack but that does not work in some examples

[2016-02-02 13:10] vitormsilva opened #53 "RuntimeUA - Nodejs compatibility - Local Catalogue"
To make the runtime core compatible with nodejs, we need to do some changes at the code, namely, on:
- [runtime-catalogue-local (_makeLocalRequest)](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.3/src/runtime/RuntimeCatalogue-Local.js#L62)

Because the nodejs doesn't support browser dom attributes, like, window, XMLHttpResquest, and others;

I detected these ones, but if you know

[2016-02-02 13:12] vitormsilva opened #54 "RuntimeUA - Nodejs compatibility - Catalogue"
To make the runtime core compatible with nodejs, we need to do some changes at the code, namely, on:

- [runtime-catalogue (_makeExternalRequest)](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.3/src/runtime/RuntimeCatalogue.js#L65)

Because the nodejs doesn't support browser dom attributes, like, window, XMLHttpResquest, and others;

I detected these ones, but if you know more ope

[2016-02-02 13:14] vitormsilva opened #55 "RuntimeUA - Nodejs compatibility - Identity Module"
To make the runtime core compatible with nodejs, we need to do some changes at the code, namely, on:

 - [identityModule (login)](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.3/src/identity/IdentityModule.js#L53)

Because the nodejs doesn't support browser dom attributes, like, window, XMLHttpResquest, and others;

I detected these ones, but if you know more open a new issue;

[2016-02-04 08:56] #52 closed, assigned to gamdias

[2016-02-04 11:40] pchainho opened #56 "Runtime Registry: Data Objects registration"
Provide support to data objects address allocation according to [these specs](https://github.com/reTHINK-project/dev-service-framework/blob/d3.2-working-docs/docs/specs/messages/address-allocation-messages.md).

Provide support to data objects registration in the Domain Registry according to [these specs](https://github.com/reTHINK-project/dev-service-framework/blob/d3.2-working-docs/docs/specs/me

[2016-02-04 11:44] pchainho opened #57 "Runtime Registry: update Hyperty registration to be compliant with Messages Specs"
Provide support to Hyperty address allocation according to [these specs](https://github.com/reTHINK-project/dev-service-framework/blob/d3.2-working-docs/docs/specs/messages/address-allocation-messages.md).

Provide support to Hyperty registration in the Domain Registry according to [these specs](https://github.com/reTHINK-project/dev-service-framework/blob/d3.2-working-docs/docs/specs/messages/reg

[2016-02-05 15:17] #43 closed, assigned to Endebert

[2016-02-05 16:03] #37 closed, assigned to shumy

[2016-02-05 16:03] #38 closed, assigned to shumy

[2016-02-11 10:45] pchainho opened #58 "Runtime Registry: persistence"
To use the generic "Persistence Manager" to persist registry data to enable the reusage of previously allocated and registered addresses

[2016-02-11 10:49] pchainho opened #59 "Identity Module: persistence"
To use the generic "Persistence Manager" to persist identity data avoiding the need to generate new tokens from IDPs that could be still valid

[2016-02-11 10:51] pchainho opened #60 "Policy Engine: persistence"
To use the generic "Persistence Manager" to persist policies avoiding the need to download previously loaded policies

[2016-02-15 19:00] pchainho opened #61 "IDP Proxy @ Catalogue Runtime"
Support IDP Proxy in the Catalogue Runtime as agreed in https://github.com/reTHINK-project/architecture/issues/72 .

Since IDP-Proxy is similar to Protostubs, and only the well-known URI is different (eg https://catalogue.example.com/.well-known/idp-proxy/example), functions to retrieve IDP Proxies are similar to the ones used for Stubs:

getIdpProxyDescriptor( URL.CatalogueURL )
getIdpProxySource

[2016-02-16 15:06] #16 closed, assigned to nobody

[2016-02-17 21:30] #57 closed, assigned to gamdias

[2016-02-18 09:48] #39 closed, assigned to antonroman

[2016-02-18 17:29] pchainho opened #62 "Identity Module Admin GUI"
As discussed [here](https://github.com/reTHINK-project/core-framework/issues/160)

[2016-02-18 17:30] pchainho opened #63 "Graph Connector Admin GUI"
As discussed [here](https://github.com/reTHINK-project/core-framework/issues/160)

[2016-02-18 17:31] pchainho opened #64 "Policy Engine Admin GUI"
As discussed [here](https://github.com/reTHINK-project/core-framework/issues/160)

[2016-02-18 19:36] #48 closed, assigned to nobody

[2016-02-18 19:41] pchainho opened #65 "IDP Proxy Stub"
This stub is to be used by the IDP Proxy to communicate with the Id Module through the Message BUS according to [this spec](https://github.com/reTHINK-project/dev-service-framework/blob/d3.2-working-docs/docs/specs/messages/identity-management-messages.md). It should be compliant with WebRTC Identity API

[2016-02-19 12:37] pchainho opened #66 "Core Runtime deployment from the catalogue"
So far, the the Core Runtime is downloaded and deployed with the App.

To close phase 1 we have to separate the App deployment from the runtime core deployment by downloading it via the Runtime Catalogue.

[2016-02-19 15:59] vitormsilva opened #67 "Delete unused/outdated branches"
With the objective to maintain our dev-runtime-core the cleanest as possible, we suggest, each one had an obsolete branch should delete it.

[2016-02-19 16:56] #61 closed, assigned to Endebert

[2016-02-23 16:17] pchainho opened #68 "Sync Manager improvements"
Complete data sync procedures with:

- unsubscribe
- delete
- subscription response with children data objects URLs if present
- Align with [SyncObject Data model](https://github.com/reTHINK-project/dev-service-framework/tree/develop/docs/datamodel/data-synch)

[2016-02-24 08:41] pchainho opened #69 "Runtime Registration improvements for Phase 1"
Complete Runtime Registration according to [this spec](https://github.com/reTHINK-project/dev-service-framework/blob/d3.2-working-docs/docs/specs/messages/registration-messages.md), namely:

- Hyperty unregistration
- Hyperty keep alive
- Hyperty search per Hyperty Type and User
- Data Objects Registration and Unregistration
- Data Object keep alive
- Data Object Search

@gamdias , @nunofmn  pls n

[2016-02-25 12:50] pchainho opened #70 "Prevent an Hyperty to "impersonate" another Hyperty"
### prevent an Hyperty to "impersonate" another Hyperty

Ie block messages which "from" header field is not from the Hyperty that is sending the message.

A proposal to overcome this security fault is:

1- MiniBUS postMessage() function before it delivers the message, checks that it was generated localy ie there is no via attribute
2- If it was generated localy it checks there is a registered list

[2016-03-02 12:49] Endebert commented on #40
So far I have only implemented use of the persistence manager in getSourceCodeFromDescriptor().

The problem with catalogue objects is that when storing them in the persistence manager, the class properties get lost, i.e. you store a HypertyDescriptor and you retrieve a generic Object. This means that after restoring, all get/set functions are lost, like hyperty.version, hyperty.objectName, etc.

[2016-03-02 13:48] Endebert commented on #40
persistenceManager usage implemented for get***Descriptor() functions and getSourceCodeFromDescriptor().

[2016-03-02 13:48] #40 closed

[2016-03-02 13:55] Endebert commented on #54
I was just wondering how RuntimeFactory decides which implementation to use, since RuntimeFactory has no constructor arguments.
[code]

[2016-03-03 10:19] pchainho commented on #66
to be moved to dev service framework

[2016-03-03 11:34] vitormsilva commented on #54
Hi @Endebert,

On this line [28](https://github.com/reTHINK-project/dev-runtime-core/blob/vsilva-factory/resources/RuntimeFactory.js#L28) of RuntimeFactory.js, for each implementation, you instantiate the respective Request (or other name). But the method makeRequest will always the same.

[code]
(a small note, i will change the name makeRequest to createHttpRequest it's more logical);

Inside the

[2016-03-03 13:01] Endebert commented on #54
ah ok I understand now, thanks for the explanation.

[2016-03-07 12:25] vitormsilva opened #71 "Registry getSandbox"
When i try to get a sandbox when various domains are registered, i always get "sandbox not found"

[code]
![screenshot from 2016-03-04 18-02-44](https://cloud.githubusercontent.com/assets/10596749/13569149/34cc8036-e45e-11e5-892c-49105b0bed7c.png)

I think the:
 - hyperties always identified by: `hyperty://<domain>/<identifier>`
 - the stubs, always identified with something like: `msg-node.<domai

[2016-03-07 13:36] gamdias commented on #71
I've changed the method getSandbox() logic. If some problem persists, please tell me.

[2016-03-09 15:15] vitormsilva commented on #66
Hi @Endebert,

With the propose of installing the runtime-core from the catalogue, you will need to pass the [runtime-catalogue](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.4/src/runtime/RuntimeCatalogue.js) to dev-service-framework.

I just passed the RuntimeCatalogue-Local to dev-service-framework.

What do you think?

[2016-03-09 16:58] Endebert commented on #66
I just took a look at it, looks simple enough. I will move and adapt the code on friday.

@Trikolon If you have time could you please move the changes you did to the master branch (regarding the version tag) and make sure they are in the dev branch? Otherwise I will do it on friday.

[2016-03-11 12:34] Endebert commented on #66
I have a question regarding the persistence manager. Can that be moved to dev-service-framework, too, or do I have to remove my implementation of it?

[2016-03-11 14:19] Endebert commented on #66
Ok I have moved RuntimeCatalogue and PersistenceManager to dev-service-framework and adapted RuntimeCatalogue to reflect the changes in making http requests.

@vitormsilva please have a look at my commits, especially https://github.com/reTHINK-project/dev-service-framework/commit/5579613f69b54a08b1031c37e8f20da09355e016. I copied @Trikolon's changes from the master branch to the develop branch, so

[2016-03-16 22:21] gamdias commented on #71
The getSandbox() method got revised, it should be fine now.

[2016-03-16 22:21] #71 closed

[2016-03-17 09:12] pchainho opened #72 "Policy Engine: reject Observer changes"
The Policy Engine must reject UPDATE messages sent by Data Object Observers.

[2016-03-17 17:50] pchainho commented on #68
Update according to this change agreed for the message specs used to manage routing paths at msg nodes:

https://github.com/reTHINK-project/core-framework/issues/165

[2016-03-18 11:49] Endebert commented on #54
Since the code has moved to dev-service-framework and I did the necessary code adaption, this can be closed.

[2016-03-18 11:49] #54 closed

[2016-03-24 11:21] gamdias commented on #69
Hyperty unregistration and Hyperty keep alive supported by the runtime Registry. (Hyperty keep alive is not yet supported by the msg-node connector)

[2016-03-30 13:27] dvilchez opened #73 "Google auth redirect uri"
After Google authentication web-worker script URI is loaded in the popup and remains open.

You can check it in https://rethink.quobis.com
and in the attached image.
![screenshot from 2016-03-30 11-34-11](https://cloud.githubusercontent.com/assets/153025/14143491/da8e759e-f68b-11e5-84ce-e3bd5cba1b30.png)

[2016-04-04 14:28] dvilchez commented on #73
To add more info. I had to mock IdentityModule on the standalone implementation because you can't open a popup in an android app.

[2016-04-05 17:02] vitormsilva commented on #53
This is resolved through the runtimeFactory, look at [here](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.4/resources/RuntimeFactory.js#L27)

If some problem was detected, please, reopen this issue.

[2016-04-05 17:02] #53 closed

[2016-04-05 22:14] gamdias commented on #65
The Identity Module is already using an IDPProxy. An IdpProxy that incorporates the protoStub. Later it should be separated.

[2016-04-05 22:14] #65 closed

[2016-04-05 22:18] gamdias commented on #73
This problem should be resolved, once the DOM request is transferred to the runtime-Browser.

[2016-04-06 09:25] pchainho commented on #56
duplicated

[2016-04-06 09:25] #56 closed

[2016-04-06 09:27] pchainho commented on #55
We have agreed to move it to runtime browser

[2016-04-06 09:27] #55 closed

[2016-04-06 09:54] vitormsilva commented on #66
This was moved to dev-service-framework, since don't have any new comments, i think we can close this;

[2016-04-06 09:54] #66 closed

[2016-04-06 11:28] #29 closed

[2016-04-08 13:10] fbeierle commented on #33
Currently, we are working on an example showing the inter-working of GraphConnector and Global Registry. For this, I need to send a message to the (Vertx) Msg Node, which will handle the message via
the GlobalRegistryConnector. So far, as an addressing scheme, `global://registry/`
is used (see https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.4/src/graphconnector/GraphConnector.js#L22

[2016-04-08 15:13] pchainho commented on #33
The RuntimeRegistry.resolve() was updated to support `global://registry`. pls have a try

[2016-04-08 17:32] fbeierle commented on #33
Thanks, it works now.

[2016-04-13 14:03] KCorre opened #74 "OrangeIdP - IdModule integration"
@gamdias Just opening the issue so that we can discuss the integration.

There are currently two IdP hosted by Orange

**phpOIDC**
* hosted at https://oidc-ns.kermit.orange-labs.fr/
* doc at https://github.com/reTHINK-project/dev-IdPServer-phpOIDC

**oidc-node**
* hosted at https://energyq.idp.rethink.orange-labs.fr/
* doc at https://github.com/reTHINK-project/dev-IdPServer

Both services allow yo

[2016-04-13 14:09] KCorre commented on #74
*oidc-node* was tested on a small WebRTC application and seemed to work correctly, although Firefox did not provided any feedback. *phpOIDC* should be working too, but @sbecot went in holliday. I'm not sure that he conducted the test with success.

Note on pop-up. Sandboxed WebRTC proxy don't have right to open pop-up. They should return an error when a user is not logged-in (this error could cont

[2016-04-13 14:35] gamdias commented on #74
@KCorre I didn't had the chance to test it in a small isolated WebRTC application. Could you please send me that WebRTC application example, so I could test it?
Thanks

[2016-04-13 15:19] KCorre commented on #74
The repository for the webrtc app is [here](https://github.com/KCorre/webrtc_redirect_attack). It's a bit messy inside but

* The homepage explains how to go to the webrtc app -> /webrtc
* The file to modify is located in /app/public/javascripts/webrtc.js

line 79 you have 	pc.setIdentityProvider("localhost:8080", "rethink-oidc");

Juste set the identity provider to another location (don't add htt

[2016-04-13 18:38] pchainho commented on #72
I guess this can be closed

[2016-04-13 18:38] #72 closed

[2016-04-13 18:39] pchainho commented on #69
can we close this?

[2016-04-13 18:40] pchainho commented on #68
this one can be closed

[2016-04-13 18:40] #68 closed

[2016-04-13 18:40] #67 closed

[2016-04-13 18:44] pchainho commented on #64
Moved [here](https://github.com/reTHINK-project/dev-runtime-browser/issues/37)

[2016-04-13 18:44] #64 closed

[2016-04-13 18:45] pchainho commented on #63
moved to https://github.com/reTHINK-project/dev-runtime-browser/issues/38

[2016-04-13 18:45] #63 closed

[2016-04-13 18:47] pchainho commented on #62
moved to https://github.com/reTHINK-project/dev-runtime-browser/issues/39

[2016-04-13 18:47] #62 closed

[2016-04-13 18:50] #28 closed

[2016-04-13 19:30] gamdias commented on #69
Keep alive, the search methods, registration and unregistration of dataObject's implemented.

[2016-04-13 19:30] #69 closed

[2016-04-15 14:20] vitormsilva opened #75 "Runtime - RuntimeCatalogue dependency issue"
hi @dvilchez,

I would like to ask you an opinion related to a problem we are facing.
Inside the runtime-core, we have a runtime-catalogue dependency, but we don't know how to choose which use, the RuntimeCatalogue-Local or the RuntimeCatalogue, then, we have two possible solutions;

1. Generate two RuntimeUA distribution files, one with RuntimeCatalogue-Local and other with RuntimeCatalogue;
2. P

[2016-04-18 07:13] dvilchez commented on #75
I think it is not a runtime-core problem rather than a runtime-browser problem. Runtime-browser needs to know which catalogue load in order to request runtime-core. Once runtime-browser resolve the right catalogue it can pass it to runtime-core.

The question is, how runtime-browser choose the right implementation? Maybe we can have two gulp task to generate rethink bundle one with dev dependencie

[2016-04-18 08:14] pchainho commented on #75
The selection of the Catalogue depends on your environment (development, production, test,..) that is agnostic of the runtime type.

[2016-04-18 08:16] dvilchez commented on #75
ok, and how does runtime know which is your environment?

[2016-04-18 08:16] pchainho commented on #75
with "npm start" you pass as parameter your environment

[2016-04-18 08:19] dvilchez commented on #75
if npm start calls a gulp task you still can resolve the catalog through gulp tasks.

[2016-04-18 08:22] pchainho commented on #75
yes, I think it is a gulp task that is then passing the right configuration to the runtime according to this parameter. @vitormsilva can provide you more details

[2016-04-18 08:29] vitormsilva commented on #75
The problem is, the runtime-core is already bundle with one of the runtime-catalogue and is not possible to change after it bundled;

So, if you pass the runtimeCatalogue on runtimeFactory (2), there, you can still use the environment variables or gulp task to set which catalogue we can load from runtime-browser to inside the runtime-core.

I think this could be a better solution, because is more

[2016-04-18 16:03] pchainho opened #76 "Policy Engine: subscription authorisation"
The policy engine should use the new [`Message.Body.auth`boolean attribute](https://github.com/reTHINK-project/dev-service-framework/tree/develop/docs/datamodel/core/message#message-body) to set whether an authorisation policy was enforced with sucess (`true`) or if no policy was found (`true`).

For the Data Object Creation / Subscription use cases, the following steps should be performed by the

[2016-04-19 17:12] vitormsilva commented on #75
Hi,

I already was done the 2º point, mentioned when I create the issue. it's working in several places, like dev-service-framework and dev-hyperty-toolkit.

To handle with which catalogue (local or remote) you can choose, probably, you will need set the type of environment on dev-runtime-browser.

This is our suggestion.
Something like:
[code]

From side of application you will have a configurati

[2016-04-21 07:09] #75 closed

[2016-04-21 11:11] pchainho commented on #27
duplicated with #74

[2016-04-21 11:11] #27 closed

[2016-04-21 11:13] pchainho opened #77 "Runtime Registry: import improvement"
according to https://github.com/reTHINK-project/dev-service-framework/issues/29

[2016-04-21 11:13] pchainho opened #78 "Identity Module: import improvement"
according to https://github.com/reTHINK-project/dev-service-framework/issues/29

[2016-04-21 11:14] pchainho opened #79 "Sync Manager: import improvement"
according to https://github.com/reTHINK-project/dev-service-framework/issues/29

[2016-04-21 11:15] pchainho opened #80 "Policy Engine: import improvement"
according to https://github.com/reTHINK-project/dev-service-framework/issues/29

[2016-04-21 11:15] pchainho opened #81 "Graph Connector: import improvement"
according to https://github.com/reTHINK-project/dev-service-framework/issues/29

[2016-04-22 13:24] fbeierle opened #82 "Receiving "Response timeout!" message after receiving correct response message"
We created a new branch to provide a demo for the Graph Connector (https://github.com/reTHINK-project/dev-runtime-core/tree/dev-0.5-GraphConnector).
Running the demo (https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.5-GraphConnector/example/demo.js), I get the following error when trying to send a message to the Global Registry:

![demo2](https://cloud.githubusercontent.com/assets/10

[2016-04-26 09:06] fbeierle commented on #82
After exchanging the ProtoStubs.json file with the one from dev-service-framework, I get a step further. I still get an error though, it now looks very similar to @Endebert 's issue (https://github.com/reTHINK-project/dev-runtime-browser/issues/40).

![demo3](https://cloud.githubusercontent.com/assets/10813769/14812706/9a880582-0b9e-11e6-9507-e7e41957b4f6.png)

[2016-04-26 10:19] pchainho opened #83 "Runtime Catalogue: handle IDP Proxy fallback"
When IDP Proxy is not hosted in the Domain Catalogue it should try the Runtime Catalogue.

[2016-04-27 15:26] pchainho commented on #73
As discussed today, the login window will be opened inside the core runtime sandbox i.e. the rethink iframe, and the Identity Module will ask the App Sandbox to unhide / hide the runtime core admin page that includes the login window. Messages to be handled by the App Sandbox are specified at:

https://github.com/reTHINK-project/dev-service-framework/blob/develop/docs/specs/messages/identity-manag

[2016-04-28 09:47] pchainho commented on #83
Notify @Endebert when ready

[2016-04-28 09:49] pchainho commented on #81
not needed anymore

[2016-04-28 09:49] #81 closed

[2016-04-28 09:49] pchainho commented on #80
not needed anymore

[2016-04-28 09:49] #80 closed

[2016-04-28 09:49] pchainho commented on #79
not needed anymore

[2016-04-28 09:49] #79 closed

[2016-04-28 09:49] pchainho commented on #78
not needed anymore

[2016-04-28 09:49] #78 closed

[2016-04-28 09:49] pchainho commented on #77
not needed anymore

[2016-04-28 09:49] #77 closed

[2016-04-28 10:24] vitormsilva commented on #82
Hi @fbeierle,

You need to open the `https://msg-node.localhost:9090` on the browser to allow the certificate because this is not a valid certificate.

I hope this can solve your problem;

[2016-04-29 11:27] fbeierle commented on #82
Thanks a lot for the help. Now it's working.

I will use this issue for my next question. After contacting the Global Registry and successfully receiving the expected reply message, I receive another message with "Response timeout!":

![demo4](https://cloud.githubusercontent.com/assets/10813769/14914707/f632cef6-0e0c-11e6-8bfb-cf028ce4c715.png)

So, everytime I message the Global Registry, I recei

[2016-05-03 13:07] fbeierle opened #84 "Setup environment not working"
This seems outdated:
https://github.com/reTHINK-project/dev-runtime-core/tree/dev-0.5#setup-environment

<pre>npm run init-setup</pre> is no longer available. How to setup the environment?

[2016-05-03 13:32] fbeierle commented on #84
<pre>npm install</pre>
I updated the readme

[2016-05-03 13:32] #84 closed

[2016-05-03 15:53] pchainho opened #85 "Reusage of Hyperty and Data Object URLs"
There is a new requirement coming from the presence / context Hyperty:

In order to improve performance and avoid performing the creation / subscription process everytime there is a new session, the data object URL persisted in the Domain Registry should be reused and allocated to the object

[2016-05-10 09:40] dvilchez commented on #73
Finally, we include a flag in the iframe declaration to enable close the popup

[2016-05-10 09:40] #73 closed

[2016-05-18 07:51] dvilchez opened #86 "Wrong parameter passed to registry.registerHyperty"
![bug](https://cloud.githubusercontent.com/assets/153025/15351036/48f9b576-1cdd-11e6-8be1-ed4eee627a13.jpg)

then the message sent to the registry domain contains a wrong hypertyDescriptorURL

<img width="530" alt="screen-shot-2016-05-18-09-48-54" src="https://cloud.githubusercontent.com/assets/153025/15351135/f1562eca-1cdd-11e6-8ec9-45091e422d5f.png">

[2016-05-19 10:13] vitormsilva commented on #86
Seems to be fixed;

[2016-05-19 10:13] #86 closed

[2016-05-23 09:05] vitormsilva commented on #83
@pchainho and @Endebert,

I did some modification to the runtimeCatalogue-Local to avoid two separated files with the same function but a with different code.

So, I extend the RuntimeCatalogue-Local from RuntimeCatalogue, and override the getDescriptor method to handle with the "local catalogue" and I did some fixes to the RuntimeCatalogue to support the current implementations, like IdpProxy fal

[2016-05-25 16:01] Endebert commented on #83
@vitormsilva Thanks for the notification.

I looked into the current state of the RuntimeCatalogue and I have some issues with it.

1. I take issue with how you extended `_createDataSchema`. Having a different return types in certain cases is bad coding and should be avoided if possible. Either the function returns a Promise, or it doesn't.
Despite that, I would argue that retrieving the `sourcePa

[2016-05-27 09:32] vitormsilva commented on #83
@Endebert,

The return type is always a promise as you can see in screenshot and should be always;
![screenshot from 2016-05-27 09-58-13](https://cloud.githubusercontent.com/assets/10596749/15603253/934f8bd0-23f1-11e6-90b7-738b72082256.png)

Yes, you are right, but for some reason you don't use the method getSourcePackageFromURL, and if the getHypertyDescriptor had and sourcePackageURL will fail.

[2016-05-27 10:07] Endebert commented on #83
No, it is not. Look at this code snippet from `_createDataSchema`:

[code]

Therefore, if sourcePackage is already provided, it would return the dataSchema directly. Otherwise, it returns a Promise. It even states in the function description that the return type of `_createDataSchema` is DataObjectSchema, which you completely disregard. The fact that sourcePackage is never part of the descriptor i

[2016-06-01 12:38] pchainho opened #88 "Sync Manager: do not subscribe listeners for children for WRITE only permissions"
When children.observerPermissions = "write" do not subscribe listeners for the children.

The json-schema parsing process should be:

- look for all classes with "stereotype = children"
- for each one check observerPermissions content:
  - if children.observerPermissions = "write-read" subscribe listeners for everything as it now implemented
  - if children.observerPermissions = "write" do not sub

[2016-06-01 17:23] pchainho opened #89 "Add RuntimeUA.close() function and registry.unregisterAll()"

[2016-06-02 16:06] pchainho commented on #82
can we close this one?

[2016-06-06 09:14] vitormsilva commented on #83
I understand your point of view, and yes.. you are right, but I try to do my best too;

The code in the catalogue wasn't our responsibility (ptinovacão),
and we needed something quick to work and testing. So, you are free to change all the code.

The question of idpproxy fallback, is only http request, nothing more,
the parsing, yes, could be done in the runtime.

[2016-06-06 16:32] fbeierle commented on #82
I don't know. Running the code now gives a different error earlier, I assume because of changes in dependencies.

[2016-06-06 17:12] pchainho commented on #82
Logs pls?

[2016-06-07 15:20] NicoApizee opened #90 "Nodejs Environment not working"
We have Installed the runtime-core for Node.js environment like an npm module:
    npm install github:rethink-project/dev-runtime-core#master --save

We get the following error messages :
TypeError: u.existsSync is not a function,
 at r._init (~/node_modules/runtime-core/dist/Runtime.js:32:22774)
    at new r (~/node_modules/runtime-core/dist/Runtime.js:32:22421)
    at ~/node_modules/runtime-core

[2016-06-07 15:30] fbeierle opened #91 "Uglify leads to error when calling generateGUID() in runtime-browser"
@dvilchez was right by suspecting the uglify process of the runtime-core to be the cause for the error we are getting when calling generateGUID() in the runtime-browser (see https://github.com/reTHINK-project/dev-runtime-browser/issues/48).

I used an non-uglified runtime in https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/resources/descriptors/Runtim

[2016-06-07 15:33] fbeierle opened #92 "Calling "gulp dist" gives "TypeError: Path must be a string""
Calling ```gulp dist``` on dev-0.5 gives me:

[code]

[2016-06-08 10:18] fbeierle commented on #82
![2016-06-08](https://cloud.githubusercontent.com/assets/10813769/15891059/0842e6c8-2d73-11e6-936b-af7bf91c361a.png)

[2016-06-08 13:59] NicoApizee commented on #85
Btw can we imagine that a context object, like presence or location, can be directly subscribe with a predictable hyperty url, with a pattern based on user guid for example ?

[2016-06-09 09:57] pchainho commented on #91
At this point the uglify process is required. We recommend you to fix your code to be compliant with uglify

[2016-06-09 11:27] pchainho commented on #92
It works fine for me. pls ensure you do `npm install`

[2016-06-09 11:36] fbeierle commented on #92
After `npm update` and `npm install` I get the same errors.

[2016-06-09 12:58] fbeierle commented on #92
Deleting the `node_module` folder and updating node js / npm solved the issue.

[2016-06-09 12:58] #92 closed

[2016-06-13 08:41] fbeierle commented on #91
Could you clarify which modules require the uglify process?

[2016-06-17 10:22] Endebert opened #93 "Bus: Extend addListener() to listen to specific message type"
The bus already has the function `addListener(url, listener)`, but it would be great if an additional argument could be added in order to specify which message type(s) should invoke the listener. I suggest a form like this:
[code]
Otherwise the same logic has to be added to every listener

[2016-06-24 09:23] jboulmal opened #94 "Modifications On dev-runtime-core maybe needed for node"
We have added a slight modifications on `RuntimeUA.js`. We believe these modifications are needed for our developmenet of `#dev-runtime-nodejs`. Particularly in [RuntimeUA.js#L198](https://github.com/reTHINK-project/dev-runtime-core/blob/master/src/runtime/RuntimeUA.js#L198).
We have added the following modifications:
` let dividedURL = divideURL(hypertyDescriptorURL);`
        `let identity = div

[2016-06-24 11:20] vitormsilva commented on #94
why you need do that? the descriptor was identified by the hyperty url;

[2016-06-24 14:48] jboulmal commented on #94
After modification done on service-framework, we no more need these modifications.
We believe we can close this issue.
Thanks

[2016-06-24 16:06] NicoApizee commented on #94
Removing JSON.parse on hypertyDescriptor seem to resolv part of the problem.

In runtime-nodejs, we note that runtime dist file is not compatible, since it use the dist file generated generated from gulp dist task.
The behavior is the same by eval code from catalogue, or import source from node_module/.

What we note also is that when we manually transpile code from node_module/ src for runtime-co

[2016-06-24 17:22] vitormsilva opened #95 "Persistence Module (universal-localstorage) have problems with the nodejs"
Regarding all the problems the runtime-nodejs developer team was facing, we did an evaluation and found some problems related with de [universal-localstorage module](https://github.com/eddiemoore/universal-localstorage), is not maintained and updated. The function [fs.existsSync](https://nodejs.org/api/fs.html#fs_fs_exists_path_callback) was deprecated from most recent node versions, since 1.0.0;

[2016-06-26 09:54] jboulmal commented on #95
We have gone through this problem in this [issue Local Storage in Node.js]( https://github.com/reTHINK-project/dev-service-framework/issues/46).We  have fixed it by installing the node-module [universal-storage, which is supposed to provide localStorage both in browser and nodejs](https://github.com/eddiemoore/universal-localstorage) that was proposed by @Endebert.

[2016-06-27 07:37] dvilchez commented on #95
universal-localstorage has a very old version of nodejs-localstorage, this version of nodejs-local-storage is using some deprecated functions on fs module, but it works. I agree with you we have to update this dependency but it is not the problem.

The problem here is to use a browserify distribution file from nodejs. Browserify was thought to use nodejs modules from browser and not in the other w

[2016-06-27 08:38] NicoApizee commented on #95
Same conclusion here https://github.com/reTHINK-project/dev-runtime-core/issues/94.

[2016-06-27 08:55] vitormsilva commented on #95
If you look at browserify documentation, https://github.com/substack/node-browserify#usage, when you pass the standalone option, the modules are created like a UMD module;

If you look at [Gulpfile service-framework](https://github.com/reTHINK-project/dev-service-framework/blob/develop/gulpfile.js#L292) on dev-service-framework all the modules are exported with UMD format;

If you look at [Gulpfil

[2016-06-27 09:07] NicoApizee commented on #95
It also provide option for node :
  --no-browser-field, --no-bf
    Turn off package.json browser field resolution. This is also handy if you
    need to run a bundle in node.

  --node
    Alias for --bare and --no-browser-field.

But I'm not sure that the same "build" can be run on both browser & node.

[2016-06-27 10:09] dvilchez commented on #95
@vitormsilva I was reviewing browserify UMD implementation, and I am going to make a guess, even you set "UMD"option browserify is making a bundle file, including fs lib but for some reason it doesn't include  deprecated methods on this module.

I never have used a bundle file as a modules on NodeJS, I not even know if it is a good or bad practice. But if you want to use it in this way I think you

[2016-06-28 08:33] NicoApizee opened #96 "Howto handle identity management in runtime-nodejs"
As the identification module is build in runtime-core, and call for window.open to start identification process with IDP, it does not seem possible to use it.
So how can we handle identification on nodejs runtime ?
Otherwise is it possible to start hyperty anonymously ?

[2016-06-28 10:17] pchainho opened #97 "Improve Runtime Logs"
Current Runtime logs are a mess and difficult to assist debugging.

We should agree on a common approach and analyse the usage of other methods or frameworks beside console.log():

http://www.hostingadvice.com/how-to/javascript-log-to-console/

[2016-06-28 13:15] #90 closed

[2016-06-28 13:20] jboulmal commented on #94
When we use  `_eval.apply(container, [sourcePackage.sourceCode]);`, we still get the issue described here : [RuntimeCatalogue.js not compatible with Nodejs Environment](https://github.com/reTHINK-project/dev-service-framework/issues/46) and here [Persistence Module not compatible with nodejs.](https://github.com/reTHINK-project/dev-runtime-core/issues/95). It seems that hyperties sourceCode is not

[2016-06-29 12:01] vitormsilva commented on #95
Hi,

I think the problem isn't the the UMD distribution file, because, when you pass in the standalone option you don't care about the nodejs or browser, is UMD, should work; (API)[https://github.com/substack/node-browserify#browserifyfiles--opts]

I generate an runtime-core file [Runtime.txt](https://github.com/reTHINK-project/dev-runtime-core/files/339166/Runtime.txt) and i did search for fs.exi

[2016-06-29 13:09] dvilchez commented on #95
ok, as you want. Anyway I did the changes this morning 1b54eb5f67044728d24e3f45abc4aa4a5a4b3ba9. I only let this issue open because I think is important to discuss the right way to distribute rethink and its components because it could be a problem for nodejs runtime.

[2016-06-30 15:30] rjflp opened #98 "Here to store data pertaining to multiple runtimes"
I'm opening this issue to discuss where to store multi-device data from a user.

Users will have the need to share data among several devices (runtimes). If this data belongs to a particular app or hyperty, then it is up to that app/hyperty to store it somehow. The Service Provider should handle this. However, there is data that does not belong to single App/Hyperty, such as: user policies, graph

[2016-06-30 18:29] pchainho commented on #98
I like the first option, a generic P2P Data Sync hyperty plus a data back-up Hyperty would fit well here.

[2016-07-01 08:52] sgoendoer commented on #98
Two things:

Regarding to what kind of data needs to be stored/synched here:
From TUB side, I guess this would be the address book/graph connector data including the list of known contacts, possibly with additional information such as call/communication history, group association of contacts, starred/prioritized contacts etc.

Regarding to where to store this:
If I get Paulo right, there could be

[2016-07-01 12:42] jmcrom commented on #96
see also https://github.com/reTHINK-project/governance-security-implementation/issues/49

[2016-07-01 15:31] jboulmal commented on #94
After update from @dvilchez and @vitormsilva, we still cannot load the runtime into nodejs.

[Package.json :](https://github.com/reTHINK-project/dev-runtime-nodejs/blob/nodejs-service-framework/package.json)
             ```runtime-core : develop```
              ``service-frmework: develop``

Here is our test procedure :
1- we run babel to `src/runtime/RuntimeUA.js`,
2- we browserify the result u

[2016-07-04 15:42] pchainho commented on #96
@NicoApizee the `window.open` should only be used in the browser-runtime extension not in the core-runtime: @gamdias can you confirm that?

One idea would be to have some mechanism to remotely manage Identity Tokens in the Identity Module, eg to expose some Identity Module API through a remote API.

[2016-07-04 16:11] NicoApizee commented on #96
Why remotely ? It should be fine to be able to assert identity locally, on node (host identification, pkey...) as on browser side, this is a point that has already been discussed.

Btw the runtime-nodejs can also be used as standalone server, we can imagine hyperty to monitor resources/process for example, so does the identity is really mandatory ?

[2016-07-04 18:27] pchainho commented on #96
Yes, but it should also be able to execute Hyperties from remote Users each one associated to different Identities

[2016-07-05 08:24] NicoApizee commented on #96
It sound more like a forwarding identity for me (as a mail server that add header), but ok, I don't know all scenarios.

And what is the responsability of runtime-nodejs ? Does it should expose API to access the runtime-core instance in node, or literally a web server for remote access ?!

[2016-07-05 09:29] jmcrom commented on #96
My 2 cents:

We must have a way to configure the identity __locally__ as a local assertion on the server (like @NicoApizee said)

We may need some remote API also (like @pchainho said), mostly for objects that have their idenity instantiated on a gateway (i.e. edge server)

Again let's begin with the obvious need and specify during phase 2 enhancements...

[2016-07-05 10:00] gamdias commented on #96
So how can we handle identification on nodejs runtime ?

For the nodejs as a temporary fix, the identity module checks if the `window` variable exists and if does not exist, it generates a random identity to be used by runtime registry. So it should work.

For now, not yet. But will be possible soon.

[2016-07-05 16:03] rjflp commented on #98
I agree.

I don't think it *has* to be "discovered" in the Global Registry. No one else will use it. It just has to be configured in the runtime.

a) yes
b) not really mandatory. We need *a* hyperty, from *a* service provider.
c) It has to offer the proper *API/Data Format* but I think that the sync mechanism is "implementation specific"

[2016-07-05 16:15] pchainho opened #99 "Sync Manager: Unsubscribe Message is not aligned with Specs"
When an Object is deleted by the syncher, the sync manager at the reporter and observer runtime ask the msg node to remove data sync path by unsubscribing listeners from some URLs according to these specs:

https://github.com/reTHINK-project/dev-service-framework/blob/master/docs/specs/messages/data-sync-messages.md#request-to-remove-data-sync-routing-path-at-observer-message-node

https://github.

[2016-07-13 15:38] vitormsilva commented on #97
I found this tool, I don't know if someone uses, but looks like very interesting;

http://www.vorlonjs.com

[2016-07-14 13:45] pchainho commented on #95
can we close this?

[2016-07-14 13:46] pchainho commented on #94
I guess we can close this. We'll reopen if needed

[2016-07-14 13:46] #94 closed

[2016-07-14 13:48] pchainho commented on #93
what are the use cases?

[2016-07-14 13:52] pchainho commented on #91
uglify is mainly used to reduce the size of dists. At this point the develop branch is not uglified to facilitate development tests

[2016-07-14 13:54] pchainho commented on #89
@gamdias do you confirm `registry.unregisterAll()` is already available in develop branch?

[2016-07-14 14:02] pchainho commented on #85
yes, however this would require to change the current object address allocation process performed by the MN / Runtime Registry.

[2016-07-14 14:57] gamdias commented on #89
The method registry.unregisterAllHyperties() is implemented, but only unregister the registered Hyperties on the session.

If the method to unregister the DataObject is required, it can also be implemented. And then both methods can be called in a unregisterAll() method.

[2016-07-14 19:28] pchainho commented on #85
Initial ideas to support this:

**`DataObjectReporter.close()`**

* set `DataSyncObject.status = "disconnected"` *new field to be added*;
* ask sync manager to close DataObject *message to be specified*
* Sync Manager asks runtime registry to set `RegistryObject.status = "disconnected"`. *message to be specified*
* Sync Manager removes Reporter routing path (at runtime and msg bus level)

**`Synch

[2016-07-15 06:48] jboulmal commented on #95
I agree with @dvilchez,  we are strongly depending on enhancement of the develop branche of runtime-core.

[2016-07-15 06:48] jboulmal commented on #94
Ok

[2016-07-15 07:48] pchainho commented on #95
Pls open issues for these enhancements

[2016-07-15 17:17] pchainho commented on #89
Let's first have the unregisterAllHyperties(), now @vitormsilva should implement runtimaUA.close() to be used by browser runtime or nodejs runtime.

[2016-07-19 10:48] vitormsilva commented on #89
Done.

The method close() will return a promise with true or false;

[2016-07-19 10:48] #89 closed

[2016-07-20 14:02] pchainho commented on #96
@NicoApizee did you manage to use the Id Module as explained above by @gamdias ?

[2016-07-20 14:05] vitormsilva commented on #97
This issue is parcial resolved.

The source maps are activated in the  develop branch of runtime-core when the distribution file of Runtime.js was generated;

To generate it with sourcemaps
[code]

[2016-07-20 14:07] pchainho commented on #91
do you still have this problem?

[2016-07-20 14:12] pchainho commented on #83
This feature has been implemented and released.

[2016-07-20 14:12] #83 closed

[2016-07-20 14:17] pchainho commented on #82
Can we close this one?

[2016-07-20 14:21] pchainho commented on #74
What is the status of this one?

[2016-07-20 14:22] pchainho commented on #60
what is the status of this one?

[2016-07-20 14:27] pchainho commented on #59
What is the status of this one?

[2016-07-20 14:28] pchainho commented on #58
What is the status of this one?

[2016-07-20 14:29] pchainho commented on #33
What is the status of this one?

[2016-07-20 14:31] #23 closed

[2016-07-20 14:32] #22 closed

[2016-07-20 14:33] #21 closed

[2016-07-20 14:34] #4 closed

[2016-07-20 19:39] gamdias commented on #74
There is still the problem with the cookies access.

[2016-07-20 19:39] gamdias commented on #59
No persistence yet

[2016-07-20 19:39] gamdias commented on #58
No persistence yet

[2016-07-21 09:54] pchainho commented on #96
Just a preliminary solution. A more stable solution is needed. Keep it open

[2016-07-21 10:17] pchainho commented on #97
https://github.com/reTHINK-project/dev-runtime-browser/issues/53

[2016-07-21 14:27] jboulmal opened #100 "Policy engine for runtime-nodejs"
Hello,
when loading the `hyperty-runtime` into SandboxWorker  for runtime-nodejs environment.
we get the following error :
[code]

`TypeError: Cannot read property 'split' of undefined`
   `at RuntimeCoreCtx.isToVerify (~/dev-runtime-nodejs/dist/runtime-core/src/policy/context/RuntimeCoreCtx.js:245:35)`

I believe the above message ` {msg :.....` is not well formatted ( `message.from`  ) in [Runti

[2016-07-21 17:23] pchainho commented on #100
somewhere in the sandbox implementation you are adding the message Object inside another message object. And this message is between a minibus external to the sandbox and internal minibus internal do the mini bus. It shouldn't go through the policy engine which only intercepts messages in the msg bus.

why are you adding the runtime core inside a sandbox? I suspect this is the main reason for the

[2016-07-22 07:01] jboulmal commented on #100
well I have to investigate that more. It mainly happens when we deploy [RuntimeUA.js#L470](https://github.com/reTHINK-project/dev-runtime-core/blob/master/src/runtime/RuntimeUA.js#L470), in
`return _stubSandbox.deployComponent(_stubSourcePackage.sourceCode, runtimeProtoStubURL, configuration);` and of course inside a Sandbox.

[2016-07-22 08:20] Endebert commented on #93
Examples from dev-service-framework:
* [Syncher only listens for 'forward', 'create'  and 'delete' messages](https://github.com/reTHINK-project/dev-service-framework/blob/revised-catalogue/src/syncher/Syncher.js#L70)
* [DataObject only listening for 'create' and 'delete'](https://github.com/reTHINK-project/dev-service-framework/blob/revised-catalogue/src/syncher/DataObject.js#L85)
* [DataObjectChi

[2016-07-22 08:40] Endebert opened #101 "Please move catalogue descriptor URL adaption into RuntimeUA and merge dev-service-framework:revised-catalogue into dev-service-framework:develop"
Currently, [RuntimeCatalogue has descriptor url adaptions like this](https://github.com/reTHINK-project/dev-service-framework/blob/master/src/runtime-catalogue/RuntimeCatalogue.js#L82):
[code]
Code like this was removed from the [revised RuntimeCatalogue implementation](https://github.com/reTHINK-project/dev-service-framework/blob/revised-catalogue/src/runtime-catalogue/RuntimeCatalogue.js) and sh

[2016-07-22 11:04] dvilchez opened #102 "Oauth url invalid"
With last version of runtime google returns

`
{
  "error": "invalid_request",
  "error_description": "Missing required parameter: code"
}
`
after request for authentication
https://www.googleapis.com/oauth2/v4/token?code=&client_id=808329566012-tqr8qoh111942gd2kg007t0s8f277roi.apps.googleusercontent.com&client_secret=Xx4rKucb5ZYTaXlcZX9HLfZW&redirect_uri=https://hybroker.rethink.ptinovacao.pt&gra

[2016-07-22 15:10] pchainho opened #103 "P2P Protostub"
This issue is to discuss P2P protostubs based on WebRTC Data Channel, to support P2P messages exchange among Hyperty runtimes as previously discussed in WP2 [here](https://github.com/reTHINK-project/architecture/blob/master/docs/concepts/p2p-signalling.md) and [here](https://github.com/reTHINK-project/architecture/tree/master/docs/dynamic-view/H2H%20Communication). This is also very much related w

[2016-07-22 15:36] jboulmal commented on #100
I have corrected the message Object exchanged between `SandboxWorker` and `ContextServiceProvider`.

However, I still get two error messages:
[code]
and
[code]
Ìn order to reproduce these errors yourself, rendez-vous on `nodejs-remote-protostub` branch on [dev-runtime-nodejs](https://github.com/reTHINK-project/dev-runtime-nodejs/tree/nodejs-remote-protostub)
Thanks for your feedback!

[2016-07-25 08:23] AnaSLCaldeira commented on #100
Jamal, I just corrected the code that triggered the errors you got to the 'develop' branch. Let me know if the problem persists!

[2016-07-25 12:47] jboulmal commented on #100
Hi,
I have took some time to try it, we still get the error :
[code]

[2016-07-25 14:44] jboulmal commented on #100
It's working now!. I no more have errors on that 'split'. However, I still have `--policy engine--` `create` that repeats.
[code]
Thanks

[2016-07-25 15:12] AnaSLCaldeira commented on #100
Jamal, are you referring to the code you showed in your answer? Isn't it the same message being printed both at the Policy Engine and ContextServiceProvider classes?

[2016-07-25 15:14] jboulmal commented on #100
Yes, is the same!
![screenshot from 2016-07-25 17 14 03](https://cloud.githubusercontent.com/assets/15377466/17106333/37b3acc0-528b-11e6-8c8c-f508a183a32b.png)

[2016-07-25 15:42] AnaSLCaldeira commented on #100
Ok, good. Are you having any more trouble with the Policy Engine?

[2016-07-25 15:44] jboulmal commented on #100
Except that repeating message that I don't understand ? Everything is fine with Policy engine for now !
Thanks for the help!

[2016-07-27 14:38] pchainho opened #104 "No Identity was Found"
This error occurs using the Connector hyperty, when a Delete message is received by the Syncher (onRemoteDelete) ie when receiving a request to close the connection from the remote peer

I suspect the "deleteMsg.body.identity" is missing and thus this bug would come from the Id Module or from the Policy Engine.

[2016-07-27 18:23] pchainho commented on #103
[IPFS p2pLib](https://github.com/ipfs/specs/tree/master/libp2p) sounds very promissing

[2016-07-27 18:39] pchainho opened #105 "QoS Control at Runtime"
This issue is created to discuss the specification to enable QoS control of WebRTC peer connections used by Hyperties, by using the results from T3.3.

At phase 1 the runtime spec considered a [QoS UA](https://github.com/reTHINK-project/dev-runtime-core/tree/master/docs/specs#qos-user-agent) to provide QoS Control

[2016-07-27 18:44] pchainho opened #106 "WebRTC Multiparty"
This issue is to discuss WebRTC Multiparty support by the Runtime.

We should distinguish two topologies:

* full meshed topology where all peers have peer connections established among them. Should be limited to a small number of peers since it spends lots of bandwidth. This would imply to have a connection data object per pair of peers. This could be handled by a single Multiparty Connector Hype

[2016-07-28 09:29] pchainho commented on #103
Regarding the sandbos implementation for this protostub, we should consider the requirement to have it shared among different window contexts. See https://github.com/reTHINK-project/core-framework/issues/137

[2016-07-28 17:52] pchainho opened #107 "Interworking with Legacy Services"
This issue is to discuss the impact in the Core Framework of the support of interworking with Legacy Services and it should be aligned with the results of T6.3.

Some initial ideas on an Interworking  architecture fully supported by the Runtime with Inteworking Protostubs (IWStub) and Interworking Hyperties are depicted in the picture below:

https://drive.google.com/file/d/0BxId0_H_1nc4RDBiZEtGS0

[2016-08-01 08:41] AnaSLCaldeira commented on #104
@pchainho, I just corrected the error, thanks for detecting it.

[2016-08-01 16:14] pchainho opened #108 "Specs for End to End Secured Communication streams among Hyperties with Mutual Authentication"
Pls provide the message specs [here](https://github.com/reTHINK-project/specs/blob/master/messages/identity-management-messages.md) and the Dynamic View with MSCs [here](https://github.com/reTHINK-project/specs/tree/master/dynamic-view/identity-management)

[2016-08-02 15:52] pchainho commented on #103
P2P Protostubs could also be used for media streaming by Connector hyperties to avoid multiple peer connections between the same runtime. One idea would be to have local peerconnections between the Hyperty and the P2P Protostub.

[2016-08-02 17:26] pchainho commented on #103
Associated use cases:

1. Runtime instance registration in the Domain Registry when the Runtime is deployed that includes a link to P2P Protostub descriptor
1. We might also need to set a listener in the MN to handle requests to setup a P2P connection.
1. Hyperty instance registration in the Domain Registration with a link to previously registered Runtime instance
1. Hyperty discovery returns the

[2016-08-03 12:14] pchainho commented on #103
To simplify, the Connector Hyperty can be wrapped as a P2PStub. As soon as the Runtime is instantiated, the P2PStub would be deployed and activated to start listening for incoming requests to setup P2P connections. The Runtime instance registration would include the P2P Stub URL.

Then, the main Use Cases would be:

1. As soon as the Runtime is instantiated the P2P Stub is deployed and activated.

[2016-08-03 18:47] pchainho commented on #103
![image](https://cloud.githubusercontent.com/assets/3893553/17377732/f03b864a-59b2-11e6-96f0-514a2535bc48.png)

[2016-08-15 16:41] #104 closed

[2016-08-15 16:55] AnaSLCaldeira commented on #76
@pchainho: should Data Object Address Allocation a functionality of the Policy Engine? I believe the Syncher Manager is more suitable, as it manages data objects creation, but I can transfer the code to the Policy Engine if you find it better to.

Apart from this, the remaining points were implemented and committed except for the policy criteria 'hyperty resource'. A while ago we discussed that we

[2016-08-15 16:57] AnaSLCaldeira commented on #60
@pchainho: this is implemented and committed!

[2016-08-15 16:57] #60 closed

[2016-08-17 11:54] vitormsilva commented on #102
Hi @dvilchez, this issue can be closed?

[2016-08-17 11:57] vitormsilva commented on #91
@fbeierle this problem presists? or can close the issue?

[2016-08-17 14:37] #100 closed

[2016-08-17 15:19] #102 closed

[2016-08-17 16:33] ishantiw commented on #91
@vitormsilva I tested it from my end with uglified version of runtime_core and I can see that issue is still there. When I use non-uglified version of runtime-core then `generateGUID()` function works fine.

[2016-08-22 08:54] jboulmal commented on #106
Hello,
here some points to be taking into account:
## Mesh Topology :
In full mesh WebRTC conference, every peer establishes a connection with the rest of the participant peers. Thus, n*(n-1) number of connections are needed, where `n` is the number of participant peers. For examples, a full mesh topology of 4 users has 12 connections.

In this topology, This topology works well for small number f

[2016-08-22 14:02] vitormsilva opened #110 "Improve the way how we distribute the runtime-core"
Due an issue with nodejs, we will change the way how the distribution files are made.
This will be done because they can't load or had errors loading modules from runtime-core and service-framework.

**Before:**
  - transpile the code from ES6 to ES5 and
  - with the browserify we did a bundle with all related modules and inheritances;

**Now on #develop-improves branches**
  - transpile the code

[2016-08-23 07:13] jboulmal commented on #110
Hi,
We understood the idea of bundle files in case of browser web workers. Where we cannot use `require` to load in any code.  But different environments have different requirements. Indeed, in NodeJS the normal way of doing things is to use `require` to load libraries.
Today, in `#develop-improves` branch in `#runtime-nodejs`, we only  transpile the code from ES6 to ES5, but this is not a bundle

[2016-08-23 08:49] NicoApizee commented on #110
One happy day, the transpilation step will be no more necessary (http://node.green). Meanwhile, it suppose to use babel process but it don't seem to be able to bundle files & deps.

Code inclusion via a require, or es6 import remain the only "natural way" in node.js. That implies using native npm tools & package.json to manage external dependencies (with versioning, environment).

**This problem n

[2016-08-23 12:59] vitormsilva commented on #110
Hi,

@jboulmal, the browserify should support the nodejs bundle. In the "dist" folder of "develop-improves" branch you can find all files to be distributed for the runtime-node or runtime-browser, an there you could use the browserify to make a bundle if is needed, like the runtime-browser does. Currently you can find there one for the browser (runtime.js) and another for the node (NodeRuntime)

@

[2016-08-23 14:29] NicoApizee commented on #110
Even if can catalogue is able to serve code depending of environment, we must find a nicely way to bundle libs and all dependencies.
We have tried with nodejs protostub with standalone & node options of browserify, but without success.

@vitormsilva from the vertx protostub that work on runtime-nodejs we see a require('ws') which give websocket support in node, but it seem not bundle with the prot

[2016-08-24 11:31] pchainho commented on #101
This is part of the interaction logic with the Back-end Catalogue servers and should be performed by the RuntimeCatalogue not by the RuntimeUA

[2016-08-24 12:00] Endebert commented on #101
I disagree. The adaptions described are not part of the interaction logic with the Back-end Catalogue servers, they are about the URL the interaction logic is based on. If no proper URL is provided to the RuntimeCatalogue, it can't be expected of the catalogue to do some black magic to get it working somehow.

Examples:

* The adaptions above prefix the domain name with "catalogue.", which is spec

[2016-08-24 15:03] antonroman commented on #107
Hi,

I was considering of the IWStub approach, and it could work but not from a browser (which only can send HTTPS and WSS traffic). It would be feasible from the Node runtime, for example a IWSTub to interact with a SIP endpoint.
Do I develop the idea? Maybe the easier approach would a special type of runtime, which can interact with reTHINK for one side and which speaks other protocol on the oth

[2016-08-24 15:38] pchainho commented on #107
@antonroman you are right for protocols not supported by the Browser. But we can also interoperate with legacy services using HTTPS / WSS protocols eg with Slack, and for these ones we could avoid having a Gateway.

Regarding "Runtime GWs" what special features would be needed? Probably, having there IWHyperties that would be registered in a domain registry would enable dynamic discovery of GWs fo

[2016-08-24 16:57] pchainho opened #111 "Runtime Instance shared by more than one App eg in different Tabs"
To follow this discussion:

https://github.com/reTHINK-project/core-framework/issues/137

[2016-08-24 17:08] pchainho commented on #106
Right, but in terms of the core framework and Hyperties, how can we support both these topologies?

For the meshed topology I've already provided some hints (the orchestrator idea has to be better analysed). But what about the Start topology?

Some ideas:

* nodejs runtime with a special protostub to connect to the media server to make it easier to work with other Media Server
* A single Hyperty s

[2016-08-25 11:39] dvilchez commented on #110
Hi @vitormsilva, @NicoApizee, @jboulmal

I don't think there is a real alternative to use bundle files on node runtime, as you said before is not only runtime core, runtime-node should be able to load hyperties, protostubs and any component distributed by the catalogue. Although it is not a common practice it should work.

The other issue is to generate specific files for each distribution, this i

[2016-08-25 16:25] vitormsilva commented on #110
Hi,

We did some improves on dev-service-framework, runtime-core, and nodejs-runtime, all in the develop-improve branches;

**service-framework:**
 - we did changes to the PersistenceManager - because the problem was that (imo, if we use the factory to set the Sandbox, the 'Requests' why not use the same to set the localstorage)
 - we did changes to the RuntimeCatalogue to support the new way of P

[2016-08-26 06:40] dvilchez commented on #110
@vitormsilva

I disagree, in a more general sense the problem is generate a bundle file containing an isomorphic library for both environments. I succeeded in this task before without modify any code.

Neither in my opinion  but, since this solution doesn't address the whole problem is only another patch on top of a bunch of patchs.

Feel free, it is our code.

Only to be clear on this, I don't ag

[2016-08-26 09:51] vitormsilva commented on #110
Go ahead and generate the file without modify the code, and let me know how you did, because, as I said before, i could doing something wrong;

Why you say this? what kind of patchs you are talking about?

why is a short range patch?

[2016-08-26 10:05] dvilchez commented on #110
@vitormsilva I did it, https://github.com/reTHINK-project/dev-runtime-core/issues/95 and in slack (unfortunately we got over free slack limits and I can't link you to the conversation)

[2016-08-26 15:31] fbeierle commented on #33
In runtime-core, all the necessary functions are included and tested. The branch is here: https://github.com/reTHINK-project/dev-runtime-core/tree/develop-graphConnector, I merged the latest changes of the develop branch.

As talked about in today's WP4 call, here, we provide a visualization of the message flow for the integration of the Graph Connector with the Global Registry:
https://github.com

[2016-08-29 15:27] pchainho opened #112 "Msg Bus pipeline.onFail()"
Currently [msg bus pipeline onFail() handler](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/bus/Pipeline.js#L119) is receiving a string describing the reason of the failure from the handlers, notably from the Policy Engine eg see [here](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/policy/context/RuntimeCoreCtx.js#L87).

However, these failures should

[2016-08-29 15:33] pchainho opened #113 "PolicyEngine: not authorised response"
When message is not authorised an appropriate failure response message should be returned

see #112

[2016-08-30 12:39] jboulmal commented on #106
These ideas can be source of inspiration for the start Topology as well.
The way I thing of it is the following :
- A single Conference Server Hyperty  running on `runtime nodejs`. This hyperty connects to the media server using custom protostub on one hand.
- On the other hand, it also supports multiple connector data objects, one per participant (as you said @pchainho ).

I'm afraid I haven't un

[2016-08-30 16:39] pchainho commented on #33
The Runtime Core Components like the Graph Connector shouldn't be reached by the App

I would recommend you to have this GUI as an admin GUI similar to Policy Engine and Id Module admin GUI

In this case it would be inside the core sandbox and it would have access to the core components API.

This [issue](https://github.com/reTHINK-project/dev-runtime-core/issues/63) was created for that

[2016-08-31 09:02] pchainho commented on #106
Floor Control is about controlling the sharing or resources among participants. BFCP is a standard protocol for Floor Control but as far as I know not many media servers support. Some references:

https://tools.ietf.org/html/rfc4376

https://www.ietf.org/rfc/rfc4582.txt

Regarding the Orchestrator Hyperty this is still something to be further elaborated and validated but the idea is to orchestrate

[2016-08-31 21:45] pchainho commented on #103
Another iteration to simplify by reusing the existing deployment procedures avoiding the need to register the runtime instance in the domain registry. The Connector Hyperty would still be wrapped as a P2PStub but splitted in two different protostubs.

- P2P Handler Stub: would be deployed as soon as the Runtime is instantiated to be ready to receive requests setup P2P Connections. It would be the

[2016-09-01 11:55] fbeierle commented on #33
This is the way we have been implementing this since quite a while, see, e.g., the Pull Request from June: https://github.com/reTHINK-project/dev-runtime-browser/pull/52. The address book app is not just a simple Admin GUI, but an app we develop for WP5.

Furthermore, it seems like the right way to use the runtime-core to send messages to the MsgNode in order to query the Registries, see here: htt

[2016-09-01 13:33] jboulmal commented on #106
first, thanks for the explanation.
The figure below provides a big picture of star topology, we have proposed. In this star topology, we have three main components, Runtime browser, Runtime NodeJS, and the Media Server. While, the messaging node is just relay point in reTHINK framework. Thus, it's transparent for the different communication messages.

![proposal architecture](https://cloud.githubu

[2016-09-01 18:12] pchainho commented on #103
Updated picture:

![image](https://cloud.githubusercontent.com/assets/3893553/18178863/f4ce1606-7077-11e6-98db-756d260f7aa4.png)

[2016-09-02 09:54] jboulmal commented on #106
Here is a higher and simplified level view of how this call flow might look like:

<p align="justify">This call flow involves Hyperty conference of Client A (we can call him initiator) running on runtime browser A, hyperty conference of client B, Message Node(just relay no processing), Kurento media server, and Hyperty conference server running on Runtime Node as signaling server relaying messages

[2016-09-02 10:02] pchainho commented on #33
I was not aware of your design before. The runtime was designed a long time ago (pls see D3.1) fullfilling strong security requirements. Different types of components, notably core runtime components and protostubs, are executed in isolated sandboxes. Core Runtime components and protostubs, are only reached through the Message bus and message bus endpoints are only provided to components deployed

[2016-09-02 11:57] fbeierle commented on #33
Thanks for your replay. I have a few questions:

What is the technical difference between an Admin GUI and an App? Aren't both HTML/JS that anyone can write? Or am I missing something?

What is a lib in the reTHINK context and how do they work? How would the lib be able to access the Runtime Core/Graph Connector?

[2016-09-02 14:54] pchainho commented on #103
I've realised the p2p-connection URLs should be generated by the runtime registry and not by the pep handler stub itself, for security reasons. Also added how to support p2p reporter - observer communication.
So, a new version:

The Connector Hyperty would be wrapped as a P2PStub but splitted in two different protostubs.

- P2P Handler Stub: would be deployed as soon as the Runtime is instantiated

[2016-09-02 15:25] pchainho commented on #33
The Admin GUI is inside the Core Runtime Sandbox (rethink iFrame) and have access to all core runtime components, while the App is outside and does not have access to any core runtime components. This means the Admin GUI is bundled with the Browser Runtime dist and only the Runtime Provider is able to designe/ implement it. Something similar to a Browser settings.

Libs used by Hyperties are just

[2016-09-02 16:19] pchainho commented on #103
Updated to have Alice as the Requester:

![image](https://cloud.githubusercontent.com/assets/3893553/18210639/5e52801c-7131-11e6-9a6f-db3c6864472c.png)

[2016-09-05 08:05] dvilchez commented on #110
@vitormsilva How do you want to proceed with needed changes in runtime-browser? In a separated branch or wait until a new version of runtime-core/service-framework implements these changes...

[2016-09-05 08:52] antonroman commented on #111
To summarize, we should focus on three possible solutions to check which of them meets more reTHINK requirements.

1. **intertab communication using localStorage**: This solution has been discussed in reTHINK-project/core-framework#137 it could work but it has several drawbacks: reTHINKS iframes need to be loaded from the same domain (one of this iFrames wouldn't load the whole runtime but would i

[2016-09-05 11:26] pchainho commented on #106
Some initial comments.

Conference Hyperty should be discoverable ie Client Hyperties can search for existing Conference servers before they interact with it.

Then conference rooms can be created on the demand and they should also be discoverable if needed.

The procedures would be similar to chat rooms and the conference object would also be a [communication data object](https://github.com/reTHI

[2016-09-05 14:11] jboulmal commented on #106
Thanks for the feedback @pchainho !
The figure below rapresents the `internal` architecture together with respective call flows of the Client conference hyperty runtning on runtime browser of user initiating the conf. This hyperty quite similar to  [connector hyperty](https://github.com/reTHINK-project/dev-hyperty/blob/master/docs/connector/connector-invite_001.png) but with an advance feature of

[2016-09-05 14:14] pchainho commented on #111
Thx @antonroman by resuming this discussion in such a well structured way.

From your analysis, option 2 (sharedWorker) seems more promising and I like the idea of always having a sharedWorker that would be detected before a new instance of the runtime is created.: Would it be possible to make some experimentation to validate this approach before we go further in the discussion?

If it works we co

[2016-09-05 14:24] pchainho commented on #111
One issue we should clarify with SharedWorkers is about closing the tab where the runtime SharedWorker was first loaded: is the SharedWorker destroyed?

[2016-09-06 16:56] pchainho commented on #105
Pls provide specs [here](https://github.com/reTHINK-project/specs/blob/master/qos/readme.md)

[2016-09-06 17:00] pchainho commented on #108
Pls also update / complete this [spec](https://github.com/reTHINK-project/specs/blob/master/trust-management/readme.md) aligned with the messages spec and the dynamic view specs

[2016-09-06 17:04] pchainho commented on #107
Pls provide these specs [here](https://github.com/reTHINK-project/specs/blob/master/legacy-interworking/readme.md)

[2016-09-06 17:05] pchainho commented on #106
These specs should be provided [here](https://github.com/reTHINK-project/specs/blob/master/group-communication/readme.md)

[2016-09-09 08:07] jboulmal commented on #106
Here some points from slack (channel #dev-runtime-nodejs) from @pchainho :

1. using [communication data object](https://github.com/reTHINK-project/dev-service-framework/tree/develop/docs/datamodel/data-objects/communication) since it's agnostic to runtime environment, but upgraded to support media resources.
2. The server hyperty instead of being a single hyperty. It's a combination of two hypert

[2016-09-09 08:41] pchainho commented on #106
pls see https://github.com/reTHINK-project/specs/issues/2

[2016-09-13 12:43] fbeierle commented on #82
Please see the linked issue, the error still exists.

[2016-09-14 16:24] pchainho commented on #103
finished see [here](https://github.com/reTHINK-project/specs/blob/p2p-specs/messaging-framework/p2p-msg-delivery.md)

[2016-09-14 16:24] #103 closed

[2016-09-16 20:14] pchainho commented on #96
As discussed [here](https://github.com/reTHINK-project/specs/issues/2#issue-175957412)

A more complete solution would be to use Browser Runtime admin GUI to manage identities in remote NodeJS servers. There would be the notion of runtime accounts where we could distinguish two roles: administrators and customers. Administrators manages customer accounts.

[2016-09-19 09:23] fbeierle commented on #82
This is the message.body.value for the "Response timeout!" message (using commit https://github.com/reTHINK-project/dev-runtime-browser/commit/55373115ca2ca9124cd987866a0862b54097afb3, @ishantiw implemented a workaround for now).

![2016-09-19](https://cloud.githubusercontent.com/assets/10813769/18627282/774389dc-7e5a-11e6-8d22-2dcb0b1e532f.png)

[2016-09-19 12:01] pchainho commented on #82
what was the work around?

Is this timeout still for the first read message or for a second read message?

[2016-09-19 12:12] fbeierle commented on #82
Ignoring the "Response timeout!" message.

There is only one read message. We get two replies for it.

[2016-09-22 08:13] vitormsilva commented on #110
Hi @dvilchez, IMO, on a separate branch, so that we can test.

[2016-09-29 15:47] vitormsilva opened #114 "Runtime UA with configuration argument"
Hi, everyone

To make the runtime more accessible and configurable, we have a suggestion to propose.
At this moment, on runtimeUA constructor, we receive 2 arguments, runtimeFactory and the domain. The proposal changes the second argument from a string to an object.
This object will contain the following structure:
[code]

With this information, we can construct the URL what we need and are totall

[2016-10-12 13:44] nunofmn opened #117 ""keep-alive" messages not according to spec"
Keep-alive messages sent by the runtime to the domain registry are not according to the spec:
https://github.com/reTHINK-project/dev-registry-domain/issues/28

The keep-alive message sent to the RegistryConnector/Domain-Registry does not contain the resource field as is described in the spec. Instead, of the full hyperty fields it should only include the resource field: the URL of the resource to

[2016-10-14 09:30] Endebert opened #118 "Hyperty unable to send HTTP requests across all runtimes"
I would like to ask for a generic solution for hyperties to be able to send http requests.

Currently, there is no set standard for hyperties to do that. For example, the RoomServer hyperty sends HTTP requests using the classes provided by browsers (see [here](https://github.com/reTHINK-project/dev-hyperty/blob/master/src/room-ui/RoomServer.hy.js#L308)). That means that this hyperty can only run p

[2016-10-17 14:52] pchainho commented on #107
this is duplicated with https://github.com/reTHINK-project/specs/issues/4.

[2016-10-17 14:52] #107 closed

[2016-10-17 14:56] pchainho opened #119 "Persistence Manager is breaking with the amount of data being stored"
It seems Local Storage was designed for small amounts of data. Should we use indexeddb for runtime browser and something else for node runtime?

We should give priority to this one

[2016-10-17 15:14] jboulmal commented on #119
As far as runtime node is concerned, there are some modules [node-persist](https://www.npmjs.com/package/node-persist) that can be pluged into RuntimeFactory, this way the runtime-core remains agnostic. Otherwise, we detect the environment using runtimeUA and we adapt Persistence Manager accordingly.
These are just some inline suggestions.

[2016-10-17 15:26] pchainho commented on #119
Exactlym that's the idea. Then I'll create two separated issues to address this bug, on in browser runtime, another in node runtime.

[2016-10-17 16:01] pchainho opened #120 "Runtime Catalogue: cguid usage at persistence manager"
Following https://github.com/reTHINK-project/dev-catalogue/issues/50 , at this point cguid can't be used as the key when storing in the persistence manager. Use catalogue URL instead

[2016-10-19 09:48] dvilchez commented on #119
Since persistence is a external dependecy injected by RuntimeFactory and coupled to a particular implementation (nodejs or browser) we should move this  feature and this conversation to https://github.com/reTHINK-project/dev-runtime-browser/issues/58

[2016-10-19 18:26] pchainho opened #121 "Runtime Registry: Reusage of addresses support"
[Reusage of Hyperty and Data Object URLs](https://github.com/reTHINK-project/specs/issues/6)

[2016-10-20 08:07] pchainho commented on #119
It seems we need to change the API: https://github.com/reTHINK-project/dev-runtime-browser/issues/58#issuecomment-255035349

@dvilchez could you propose something in order to minimum impact on current consumers of persistence manager API ?

Then I would like to hear the opinion of all persistence consumers including @Endebert , @AnaSLCaldeira, @jboulmal and @gamdias

[2016-10-20 08:27] pchainho commented on #85
duplicated with https://github.com/reTHINK-project/specs/issues/6

[2016-10-20 08:27] #85 closed

[2016-10-20 08:28] pchainho commented on #108
duplicated at https://github.com/reTHINK-project/specs/issues/3

[2016-10-20 08:28] #108 closed

[2016-10-20 08:29] pchainho commented on #106
duplicated with https://github.com/reTHINK-project/specs/issues/2

[2016-10-20 08:29] #106 closed

[2016-10-20 09:24] pchainho commented on #119
@dvilchez will try a sync API on top of indexedDB

[2016-10-20 10:22] pchainho commented on #120
wrong repo. see https://github.com/reTHINK-project/dev-service-framework/issues/64

[2016-10-20 10:22] #120 closed

[2016-10-20 11:12] pchainho commented on #111
duplicated with https://github.com/reTHINK-project/specs/issues/15

[2016-10-20 11:12] #111 closed

[2016-10-20 11:20] pchainho commented on #105
duplicated with https://github.com/reTHINK-project/specs/issues/16

[2016-10-20 11:20] #105 closed

[2016-10-20 11:35] pchainho commented on #96
duplicatet with https://github.com/reTHINK-project/specs/issues/17

[2016-10-20 11:35] #96 closed

[2016-10-20 11:36] pchainho opened #122 "Identity Module: Phase 2 implmementation tasks"
- [ ] supporte [Legacy Identities](https://github.com/reTHINK-project/specs/issues/11) for interworking scenarios

- [ ] support [Identity Management at Node](https://github.com/reTHINK-project/specs/issues/17)

[2016-10-21 11:10] dvilchez commented on #119
I can’t find any way to expose the indexeddb calls as sync calls without making any change in the public API. I tried generators and async/await but both of them pollute the current API and there isn’t any way to do it in  a non busy-waiting way, as far as I know.

I guess we have to change the public API, my proposal is something like that:

persistenceManager.set('key', 'v1.0.0', {}).then(key =>

[2016-10-21 11:40] pchainho commented on #119
pls provide your feedback ASAP. This is urgent.

@dvilchez, in the meanwhile would it be possible for some period of time to keep both APIs available?

[2016-10-21 13:05] jboulmal commented on #119
To be clear , `indexedDB API` is not supported in Node.js. Eventhough, there exist some modules that are outdated and less documented [indexeddb-js](https://github.com/metagriffin/indexeddb-js). Thus, we can't ensure they are reliable. However, we may thing of using [Redis.io](http://redis.io/) as local storage for Node.
But, more likely it will be asynchronous calls, as the nature of Node. Beside

[2016-10-21 13:13] pchainho commented on #119
@jboulmal  the new API is asynchronous

[2016-10-21 16:34] gamdias commented on #119
I agree with the API proposed by @dvilchez.

I just have a question regarding the "version" field. It is supposed to be set by the component making use of the persistenceManager? That field is not very clear to me.

[2016-10-24 07:12] dvilchez commented on #119
Storage manager proposal https://github.com/reTHINK-project/dev-runtime-browser/pull/59

[2016-10-25 10:03] pchainho commented on #119
{Storage Manager is ready to be used](https://github.com/reTHINK-project/dev-runtime-browser/pull/59)

[2016-10-25 10:10] pchainho opened #125 "Policy Engine: replace persistence-manager by storage-manager"
As agreed [here](https://github.com/reTHINK-project/dev-runtime-core/issues/119)

New release is pending on this one.

[2016-10-25 10:12] pchainho commented on #58
Use Storage Manager, instead, as agreed [here](https://github.com/reTHINK-project/dev-runtime-core/issues/119)

[2016-10-25 10:15] pchainho commented on #59
Use Storage Manager, instead, as agreed [here](https://github.com/reTHINK-project/dev-runtime-core/issues/119)

[2016-10-25 10:17] pchainho commented on #33
What is the status of this one?

[2016-10-25 11:09] Endebert commented on #119
The new api seems reasonable. It implies quite a few changes in RuntimeCatalogue, but I guess there is no way around this.

However, @dvilchez, this is a public API, please document your code accordingly. For example, it would be nice to know what happens if I do a `get()` but there is no match in the database. Will it return `undefined` as it did in the old API, or will an error be thrown?

Just

[2016-10-26 15:54] pchainho commented on #117
I understand this has been fixed. @gamdias pls reopen if needed

[2016-10-26 15:54] #117 closed

[2016-10-26 15:58] pchainho commented on #113
what is the status of this one?

[2016-10-26 16:08] pchainho commented on #101
done

[2016-10-26 16:08] #101 closed

[2016-10-26 16:27] pchainho commented on #110
I understand an agreement was reached and already implemented. Reopen pls if I'm wrong

[2016-10-26 16:27] #110 closed

[2016-10-26 16:29] pchainho commented on #97
Logs have been Improved

[2016-10-26 16:29] #97 closed

[2016-10-26 16:30] pchainho commented on #91
can we close this one?

[2016-10-26 16:31] pchainho commented on #74
I understand this is done. reopen if needed

[2016-10-26 16:31] #74 closed

[2016-10-27 08:55] jboulmal commented on #119
Fortunatelly, this API seems [Dexie.js - A Minimalistic Wrapper for IndexedDB](https://github.com/dfahlander/Dexie.js) be also compatible with node. Still, some adaptations are needed in runtime nodejs.

[2016-10-27 13:45] pchainho opened #126 "RuntimeUA: P2P Stubs support"
**for p2p stubs**
- [x]  [Runtime deployment with P2P Handler stub](https://github.com/reTHINK-project/specs/blob/master/dynamic-view/basics/deploy-runtime.md) : last steps (18-24)
- [x] [P2P Requester Stub deployment with new p2pconfig parameter and new WindowSandbox](https://github.com/reTHINK-project/specs/blob/master/dynamic-view/basics/deploy-protostub.md)
- [x] add windowSandbox to runtimeFa

[2016-10-27 13:59] pchainho opened #127 "Sync Manager: update to support the reusage of addresses"
- [x] [reusage of stored subscriptions when sync manager is acticated by the runtime UA](https://github.com/reTHINK-project/specs/blob/master/dynamic-view/basics/deploy-runtime.md) - steps 16-17
- [x] [Reuse existing data object URLs provided by the Runtime Registry](https://github.com/reTHINK-project/specs/blob/master/dynamic-view/data-sync/data-object-creation.md) - steps 4 and 15

[2016-10-27 14:16] pchainho opened #128 "Syncher: Phase 2 implementation"
**reusage of addresses**
- [x] [Syncher.create() : data object URL parameter to be reused ](https://github.com/reTHINK-project/specs/blob/master/dynamic-view/data-sync/data-object-creation.md) - step 1

[2016-10-27 14:32] pchainho opened #129 "P2P Stubs implementation"
Based on current WebRTC hyperties. See:
- [main arch](https://github.com/reTHINK-project/specs/blob/master/messaging-framework/p2p-msg-delivery.md)
- [detailed workflow](https://github.com/reTHINK-project/specs/blob/master/dynamic-view/basics/p2p-setup.md)

[2016-10-31 09:52] gamdias commented on #122
For the development of these tasks, no progress has been done at the moment.

[2016-10-31 09:56] gamdias commented on #121
I have been working on the reusage of Hyperty and Data Objects, as well as the persistence of those URL's. I will updated the status when the work is commited.

[2016-11-01 01:51] fbeierle commented on #91
Somehow, uglification no longer seems to be an issue. I will close this for now.

[2016-11-01 01:51] #91 closed

[2016-11-01 02:04] fbeierle commented on #33
Everything used to work fine, but some changes somewhere (service framework? global registry?) led to another issue that we're currently working on: https://github.com/reTHINK-project/dev-runtime-browser/issues/62

@ishantiw @SenanSharhan @sgoendoer

[2016-11-01 16:10] ishantiw opened #130 "Tests not working after merging with 'develop' branch"
After merging the changes from develop branch to develop-GraphConnector branch, When I'm trying to run tests for GraphConnector.spec.js, it is throwing below error.

![image](https://cloud.githubusercontent.com/assets/9600691/19896549/08a4884c-a055-11e6-9c6e-07a21fb396f8.png)
Before merging with 'develop' branch the tests were working

[2016-11-01 16:26] ishantiw commented on #130
Note: I did following changes in `Karma.config.js` file.
![image](https://cloud.githubusercontent.com/assets/9600691/19897414/3cf19e02-a058-11e6-8421-98bb0ff38c33.png)

[2016-11-02 09:29] dvilchez commented on #119
Sorry @Endebert, what is "according documentation"? any example.

[2016-11-02 10:11] vitormsilva commented on #130
For me you could have some problems:

1. Your package.json is outdated [develop](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/package.json) version vs [develop-graphConnector](https://github.com/reTHINK-project/dev-runtime-core/blob/develop-graphConnector/package.json)
2. you could not pointing to the right dev-service-framework branch, you should use develop.
3. when you merge

[2016-11-02 12:06] Endebert commented on #119
@dvilchez I'm asking you to [document your code](http://usejsdoc.org/about-getting-started.html), especially if you know that other people will use it. I (the user) doesn't know how your backend works, when an error is thrown or not, what is allowed or not. You added this abstraction layer so you have to tell me what I can expect when using your code. A short description and notes about special us

[2016-11-02 12:22] dvilchez commented on #119
Hi @Endebert thank for your long explanation about code documentation. I was asking for it because when I implemented PersistenceManager no documentation was required, despite that I did tests to document the expected behaviour. In this case, I did the same, I can also add more tests to cover some side cases including what you have commented.

I like to write tests to document my APIs because test

[2016-11-02 12:57] pchainho commented on #119
@dvilchez pls take into account that storage manager was moved to service framework since nodejs also supports indexeddb with dexie.js

[2016-11-02 13:02] pchainho commented on #119
here: https://github.com/reTHINK-project/dev-service-framework/tree/develop/src/storage-manager

@vitormsilva also made some changes in order to work with the Runtime Catalogue.

[2016-11-02 13:09] jboulmal commented on #119
not natively @pchainho, still [polyfill](https://github.com/axemclion/IndexedDBShim) is needed with some issues:
[code]

[2016-11-02 13:33] Endebert commented on #119
And the lack of documentation bugged me back then, too, I just didn't say anything. Because I thought it would be added eventually.

Besides the case I had already [opened an issue on](https://github.com/reTHINK-project/dev-runtime-browser/issues/61), none of the cases I mentioned are covered by your test file.

Since when are tests equal to documentation? Do you really expect me to check your tes

[2016-11-02 14:01] nunofmn commented on #117
Is this fixed @gamdias? Just to be sure, before releasing the new registry-connector version.

[2016-11-02 14:16] dvilchez commented on #119
Ok @Endebert, I totally disagree but I think we are not going to reach an agreement on this. In addition, I don't why but it seems this conversation is affecting you in some way so I will add some documentation as you require.

[2016-11-02 15:54] ishantiw commented on #130
After struggling with all the re-installation and npm updates, I upgraded my nodejs version and it works now thanks @vitormsilva . I will close this issue now.

[2016-11-02 15:54] #130 closed

[2016-11-03 11:43] jboulmal opened #131 "runtime core issue while running runtime-nodejs"
![screenshot from 2016-11-03 12 45 12](https://cloud.githubusercontent.com/assets/15377466/19964673/6c05f7d0-a1c3-11e6-8585-bda30bbac9aa.png)
Recently, while testing storage-manager for runtime Node, we got the following issue :
I believe this issue comes from lasst updates on runtime-core.
[code]

`` "runtime-core": "github:rethink-project/dev-runtime-core#develop",``
 `` "service-framework": "gi

[2016-11-04 09:04] pchainho commented on #131
I understand the first release of nodejs runtime is pending on this one

@gamdias it seems to be related with IDM right?

[2016-11-04 09:35] jboulmal commented on #131
yes @pchainho.Especially, in the dist/folder Runtime.js in `develop` branch:
[code]

[2016-11-04 10:15] gamdias commented on #131
Hello @jboulmal, it is strange that the 'requestIdentityToGUI' method is being called, since it is inside of a verification, ex:
 try {
   if (window) {
       //NodeJS should NOT run this code
        requestIdentityToGUI();

    } catch (error) {
        //NodeJS should run this code
        createAFakeIdentity();
    }
}

Do you have any variable called window?

[2016-11-04 10:17] jboulmal commented on #131
Hi @gamdias
Yes I do define https://github.com/reTHINK-project/dev-runtime-nodejs/blob/node-storage-manager/src/RuntimeFactory.js#L65 for the storageManager shim to work.

[2016-11-04 10:31] gamdias commented on #131
That is the variable that I used to differentiate the different runtimes (browser and nodeJS).
Can you change the name of the window variable?

If not, I'm open to new suggestions on how to differentiate the different runtimes :)

[2016-11-04 11:35] pchainho commented on #131
The runtime type should be provided in a [RuntimeCapabilities json object to be provided by a RuntimeCapabilityManager component](https://github.com/reTHINK-project/specs/issues/13#issue-183757014), but this is not yet available.

BTW, I still have to mention this in the updated version of the runtime spec :/

[2016-11-04 13:11] jboulmal commented on #131
Differentiating environments at runtime is good feature, and everything after just follows the pre-set runtime environment. That would be great to have @pchainho!
untill then @gamdias, defining `window` object as global is only way to make this [polyfill](https://github.com/axemclion/IndexedDBShim/blob/master/README.md#node) work in node.

[2016-11-08 14:06] jboulmal commented on #131
What is the status from your side @gamdias ?

[2016-11-08 16:59] gamdias commented on #131
I'm still waiting for the RuntimeCapabilities new features. No changes has been made, yet.

[2016-11-11 13:00] pchainho commented on #131
You can try the [RuntimeCapabilities](https://github.com/reTHINK-project/dev-service-framework/tree/runtime-capabilities-manager/src/runtime-capabilities) new feature with [this toolkit branch](https://github.com/reTHINK-project/dev-hyperty-toolkit/tree/runtime-capabilities) created for testing purposes

[2016-11-11 13:03] pchainho commented on #119
done

[2016-11-11 13:03] #119 closed

[2016-11-11 19:56] pchainho opened #134 "Runtime Registry: P2P Protostubs support"
- [x] [Hyperty deployment extension for P2P connections](https://github.com/reTHINK-project/specs/blob/master/dynamic-view/basics/deploy-hyperty.md)
- [x] [Hyperty and Data object Registry model extension for P2P connections](https://github.com/reTHINK-project/specs/tree/master/datamodel/core/hyperty-registry)
- [x] [Address Resolution extension for P2P connections](https://github.com/reTHINK-proj

[2016-11-14 08:28] jboulmal commented on #131
We can verify now if `"windowSandbox": true/false,` or/and  `"node": true/false `
https://github.com/reTHINK-project/specs/tree/master/datamodel/core/hyperty-catalogue#hyperty-runtime-descriptor

[2016-11-14 18:48] pchainho opened #136 "Runtime UA and Registry update to support Runtime Sharing"
As agreed [here](https://github.com/reTHINK-project/specs/issues/15)

- [ ] RuntimeUA and Registry update to support more than one AppSandbox. The identifier of each AppSandbox should be derived from the APP URL, something like hyperty-runtime://<runtime-domain>/<runtime-id>/<App URL without scheme>

- [ ] Update RuntimeUA to select the appropriate sandbox according to constraints defined in the d

[2016-11-14 19:44] pchainho commented on #33
as clarified [here](https://github.com/reTHINK-project/dev-runtime-browser/issues/62#issuecomment-258919395) this issue should be solved having an Admin GUI for the Graph Connector and using the last version of the Toolkit for the development.

Could you update us on this pls?

[2016-11-14 20:09] pchainho opened #137 "Sync Manager: update to support P2P Stubs"
- [ ] [Don't add MN listeners for P2P stubs and request the registry to resolve the data object address to the p2p stub address](https://github.com/reTHINK-project/specs/blob/master/dynamic-view/data-sync/data-object-subscription.md)

[2016-11-15 15:12] BernardoMG commented on #131
Runtime Core is already using capabilities, to verify the runtime used (ex: nodejs or browser).

The changes are committed in pull request https://github.com/reTHINK-project/dev-runtime-core/pull/138

[2016-11-21 10:14] pchainho commented on #129
duplicated with https://github.com/reTHINK-project/dev-protostubs/issues/1

[2016-11-21 10:14] #129 closed

[2016-11-21 18:54] pchainho opened #141 "Runtime configuration"
[Runtime Configuration](https://github.com/reTHINK-project/dev-runtime-core/issues/114)

[2016-11-21 19:07] pchainho opened #142 "IDM: Legacy Interworking Support"
Adapt IDM to add access tokens when messages are forwarded to Interworking Protostubs

[2016-11-23 22:12] gamdias commented on #58
implemented the storage manager in runtime registry.
the changes can be seen in this branch: https://github.com/reTHINK-project/dev-runtime-core/tree/dev-address-reusage

if there is any problem with the implementation, please reopen the issue.

[2016-11-23 22:12] #58 closed

[2016-11-23 22:13] gamdias commented on #59
implemented the storage manager in identity module, that stores the registered identities.
the changes can be seen in this branch: https://github.com/reTHINK-project/dev-runtime-core/tree/dev-address-reusage

if there is any problem with the implementation, please reopen the issue.

[2016-11-23 22:13] #59 closed

[2016-11-23 22:14] gamdias commented on #125
replaced the persistence manager to the storage manager in policy engine.
the changes can be seen in this branch: https://github.com/reTHINK-project/dev-runtime-core/tree/dev-address-reusage

if there is any problem with the implementation, please reopen the issue.

[2016-11-23 22:14] #125 closed

[2016-11-23 22:20] gamdias commented on #131
the changes in the identity module regarding the verification of the RuntimeCapabilities are up and running without any problem.

If there is any problem, please reopen this issue.

[2016-11-23 22:25] gamdias commented on #121
implemented the re-usage and persistence of the Hyperty and Data Object addresses in runtime registry.

the changes can be seen in this branch: https://github.com/reTHINK-project/dev-runtime-core/tree/dev-address-reusage

if there is any problem with the implementation, please reopen the issue.

[2016-11-23 22:25] #121 closed

[2016-11-23 22:30] gamdias commented on #113
For the development of this task, no progress has been done yet.

[2016-11-29 16:49] fbeierle commented on #33
The first version of the Address Book Admin GUI is available. To run it with the dev-hyperty-toolkit:

* Checkout dev-hyperty-toolkit, runtimes branch
* Change the version of runtime-brwoser in package.json in dev-hyperty-toolkit to:
    "runtime-browser": "github:rethink-project/dev-runtime-browser#develop-GraphConnector-Test",
* run "npm update"
* run "npm run start:browser"

There are some bugs

[2016-11-29 19:04] pchainho commented on #114
The runtime configuration should include how to derive catalogue URLs for legacy endpoints as defined in https://github.com/reTHINK-project/specs/issues/11#issuecomment-261282625.
Ie legacy endpoints are define with "protocol://user@domain" where "domain" is the service provider domain. The standard catalogue URL is derived from it as it is done for any other reTHINK domain while the fallback cata

[2016-11-30 09:06] fbeierle commented on #33
Update: easier way to run it:
checkout branch "addressbook-app" from dev-hyperty-toolkit and run "npm run start:browser"

[2016-11-30 10:19] pchainho commented on #141
duplicated with #114

[2016-11-30 10:19] #141 closed

[2016-11-30 15:59] jboulmal commented on #131
I did an npm update lately, and then I got this issue again!

[2016-12-01 16:12] sbecot opened #144 "Updating runtime in for a CSP"
I have an application running with an old version of the runtime and the runtime browser. To be able to use last stable version, I copied the content of [browser runtime](https://github.com/reTHINK-project/dev-runtime-browser/tree/master/bin), to load first content from the application webserver.
Then I deployed the [core runtime](https://github.com/reTHINK-project/dev-runtime-core/tree/master/dis

[2016-12-02 16:54] pchainho commented on #144
In principle using the most updated version of the Default DB Catalogue would be enough but we have to check if this is actually updated in the docker hub.

I'm also missing some guidelines for the provisioning of the runtime in the catalogue and other objects in general. We should work on this.

I've tried your App (btw, very nice :) ) and I confirm Hyperties are not loaded but there are also no

[2016-12-05 10:07] emmelmann-fokus commented on #144
Yes, the reTHINK-default database is updated on docker automatically:  https://hub.docker.com/r/rethink/catalogue-database-rethinkdefault/builds/

You have docker images tagged for builds based on the master branch as well as on the dev branch.

Please check the existing documentation:  all catalogue objects are provisioned to the database in the same way:
https://github.com/reTHINK-project/dev-ca

[2016-12-05 10:39] sbecot commented on #144
Thanks,
Not sure it is actually a catalogue issue. The provisionning is simple if the database is simple, even if it is true that the default one is not working also, but it may come from the distrib of the browser runtime I have.
One question is how is built the runtime:
eg: https://github.com/reTHINK-project/dev-runtime-core/tree/master/dist : you have 5 javascripts files, including PEP.js, sand

[2016-12-06 15:33] tiagolb commented on #131
This issue happened only in the runtime-capabilities branch of the dev-hyperty-toolkit, which was not up-to-date. Since this branch was merged into the develop branch, the error is corrected in this develop branch.

[2016-12-06 15:33] #131 closed

[2016-12-07 09:55] vitormsilva commented on #134
Hi,
I have a problem with the P2P resolve.
When a hyperty is registred, and the messages will be send to other hyperty, i always have `checkHypertyP2PHandler don't find any hyperty`.

![screenshot from 2016-12-06 17-15-59](https://cloud.githubusercontent.com/assets/10596749/20962754/8d6a3710-bc62-11e6-901a-e7f07cd099dc.png)

Could you check the registerHyperty and from step 6 to step 22 [here](htt

[2016-12-07 12:33] vitormsilva commented on #134
I found other problem.. I don't know if it's related to, but seems have some "fake" data, in these case to register dataObjects.

![screenshot from 2016-12-07 12-19-24](https://cloud.githubusercontent.com/assets/10596749/20967739/ed5eee48-bc78-11e6-85ce-7c6315807650.png)

[2016-12-07 12:41] pchainho opened #145 "IDM: remove Domain Registry query for Data Object Reporter"
In the scope of Mutual Authentication process, it seems the Domain Registry is queried to retrieve the Reporter of a Data Object. This query is not required since the Reporter URL is provided in the Data Object itself ie it can be found at `message.body.value.reporter`.

It should be noted that this Domain Registry reporter query conflicts with the [Query per Data Object URL](https://github.com/re

[2016-12-07 16:23] tiagolb commented on #134
That error message comes from a reject in the checkHypertyP2pHandler function which is responsible for searching in the local cache for a p2phandler and if no p2phandler is foound it should trigger a discovery process (step 9 to step 14 of the spec).

But this discovery process is not yet done. I'm looking into it.

[2016-12-09 15:28] sbecot commented on #144
Is anybody able to answer this question? It seems that something is missing in the delivery process of a platform.

[2016-12-12 12:57] tiagolb commented on #134
@BernardoMG The function to be modified in order to support the discovery service for finding the p2pHandler is called checkHypertyP2pHandler in line 800 of the Registry.js. There's a TODO comment in that line where the discovery process must be triggered.

[2016-12-12 14:00] BernardoMG commented on #134
@tiagolb Currently I'm working on some issues on Domain Registry, i will see that as soon as I can.

[2016-12-13 15:51] pchainho commented on #144
Yes, we have to improve the documentation:

Only the runtime.js is provisioned in the catague. The other files contain reusable runtime components to be used by other reTHINK components eg the policy enginen (PEP.js) is also used by the MN and the minibus is used by the other runtime implementations ie the browser and the nodejs.

But runtime.js only provides the core runtime. If you want to deplo

[2016-12-14 07:49] sbecot commented on #144
Thank you for your answer. It means that my deployment was good. I deployed the browser runtime directly with my application. Then it also means that current browser [browser runtime](https://github.com/reTHINK-project/dev-runtime-browser/tree/master/bin) and [core runtime](https://github.com/reTHINK-project/dev-runtime-core/tree/master/dist) on master branch may not be compatible. I say "may", be

[2016-12-14 08:23] sbecot commented on #144
A comprehensive view of the components to deploy is provided [here](https://github.com/reTHINK-project/specs/tree/master/deployment). I updated it with this information.
I'll complete it with the docker compose solution proposed by Vitor.

[2016-12-14 09:15] pchainho commented on #144
It looks great but I have to look on it more carefully. In the [release notes](https://github.com/reTHINK-project/dev-hyperty-toolkit/releases) you can see the different compatible versions. It seems the master versions from the runtime core and the browser runtime are still in sync since they still have the last releases.

[2016-12-15 11:10] BernardoMG commented on #134
@vitormsilva @tiagolb Already implemented the discovery process in checkHypertyP2PHandler. The changes are in `dev-p2p`branch.

[2016-12-15 11:59] pchainho commented on #134
pls in case they are complete, update the the tasks list above and close the issue if everything is done. Otherwise comment here what is missing

[2016-12-16 10:29] fbeierle opened #146 "Storing data with Storage Manager gives Policy Engine message error"
We are trying to integrate the Storage Manager functionality in the Graph Connector.

When storing data, we receive an error about a message, it seems to come from the Policy Engine, see attached screenshot

![pasted image at 2016_12_15 12_37 pm](https://cloud.githubusercontent.com/assets/10813769/21259628/8b2d7c06-c382-11e6-9b1f-d7d209ca67a4.png)

to reproduce:
* checkout branch "addressbook-app"

[2016-12-19 15:10] #142 closed

[2016-12-20 16:17] fbeierle commented on #146
As discussed on Slack, there was an error in our code sending an unnecessary message that caused this error.

[2016-12-20 16:17] #146 closed

[2016-12-22 11:06] vitormsilva opened #147 "Decrypt messages don't happen"
We are developing the `resumeReporters()` and `resumeObservers()`, and when we don't execute the resume, all the encrypt and decrypt messages working will, but when we resume, the messages changed between hyperties, failling to decrypt messages from the observer side;

This prints could help you:

- Print from an observer without resume
![screenshot from 2016-12-22 10-29-03](https://cloud.githubus

[2016-12-22 18:33] #127 closed

[2016-12-22 19:12] #128 closed

[2016-12-22 19:36] pchainho opened #148 "Policy Engine / IDM: missing tokens in messages sent to backend services"
Tokens are not added to messages' body that are targeting [backend services](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/policy/PEP.js#L148) eg messages sent to domain registry to query, create or update hyperty or object instances entries.

This is required to [control the access to MN](https://github.com/reTHINK-project/specs/issues/21) and other back-end services like t

[2017-01-09 13:14] vitormsilva opened #149 "MutualAuthentication when we using nodejs environemnt"
When we have a reporter running on nodejs and an observer running on browser we have problems related with the Mutual Authentication.

We found some possible causes and all need to be fixed:

- the nodejs fake user [here](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/identity/IdentityModule.js#L440), doesn't follow the same structure like the OIDC from google.
[code]

- The

[2017-01-11 09:51] pchainho commented on #147
As we understand this is caused because keys used in the Mutual Authentication are not reused ie persisted

@tiagolb can you update us on this pls?

This one is urgent!!

[2017-01-11 09:52] pchainho commented on #149
For now, we have disabled mutual authentication in Node

[2017-01-11 13:58] sbecot commented on #144
Probably there is something missing in the generation. I tried to re-generate with the gulp task but it doesn't change anything.

At this moment, the code delivered in the dev-runtime-core and dev-runtime-browser are not compatible (0.4.0 and 0.7.1). The test is simple:
1--> you deploy the core runtime in a catalogue,
2--> you deploy the [browser runtime](https://github.com/reTHINK-project/dev-run

[2017-01-11 17:04] tiagolb commented on #147
I'm having a problem with using the keys correctly after retrieving these keys from the StorageManager (where they are stored for persistence).

As you can see in this picture, the error is that the key format being used is not recognized by the underlying crypto library, even though it is the same key format used before starting to store the key persistently.

![duvidagil1](https://cloud.githubus

[2017-01-11 18:18] tiagolb commented on #147
This is the function which calls the `importKey` function described in the link above:

`_importAESkey(arrayBuffer) {
    return new Promise(function(resolve, reject) {
      crypto.subtle.importKey(
          'raw', //can be 'jwk' or 'raw'
          arrayBuffer,
          {   //this is the algorithm options
            name: 'AES-CBC'
          },
          true, //whether the key is extractable

[2017-01-11 19:01] tiagolb commented on #147
I have realized the the culprit of this error is the use of `JSON.parse(JSON.stringify(_this.dataObjectSessionKeys[dataObjectURL]));`. If in the original working file,  found in the repo, I add this line I get the same error.

But because I'm storing the `dataObjectSessionKey` in the StorageManager and the Sandboxes deny me to directly store and retrieve the information from the StorageManager I h

[2017-01-11 19:28] tiagolb commented on #147
I have fixed the key format error and the persistence seems to be working. I have only implemented persistence for the session keys, until I make sure this is enough to ensure the issue is fixed I will keep it open.

The first impression is that this solves the issue since I can refresh the observer and the messages exchanged afterwards are correctly encrypted and decrypted.

[2017-01-12 12:46] sbecot commented on #144
I finally found the problem thanks to the help of Steffen. The admin GUI was simply hidden in the page so I couldn't see anything.
This is a side effect of passing from the old id module to the admin gui I guess.

[2017-01-12 12:46] #144 closed

[2017-01-17 10:47] tiagolb commented on #148
Which token is this? Is it the identity token?

[2017-01-17 21:36] pchainho commented on #148
yes

[2017-01-20 15:18] vitormsilva commented on #149
We have the following problem..

When we did a unsubscribe from `browser <-> browser` all the process finish with success.

When we did a unsubscribe from `browser <-> nodejs` we receive the following responses of events:

Browser unsubscribe:
![screenshot from 2017-01-20 14-52-36](https://cloud.githubusercontent.com/assets/10596749/22154274/c66178b6-df22-11e6-8fc4-4ef5940ae7e1.png)

Nodejs receiv

[2017-01-22 23:25] pchainho commented on #126
Done

[2017-01-22 23:25] #126 closed

[2017-01-22 23:27] pchainho commented on #134
Done

[2017-01-22 23:27] #134 closed

[2017-01-23 12:09] pchainho commented on #147
it is fixed

[2017-01-26 13:46] jboulmal commented on #149
Besides, an error happens on for NodeHyperty running on Nodejs-Runtime at the handshake phase.
[code]
For precision :
[code]

[2017-01-26 15:26] tiagolb commented on #145
@pchainho the message you are referring to is the one used in the RuntimeCoreCtx.js file (function `doMutualAuthentication`), which in turn calls the `doMutualAuthentication` function in IDM, where the registry is queried incorrectly?

RuntimeCoreCtx.js:
![demutualruntimecorectx](https://cloud.githubusercontent.com/assets/8178030/22336863/85e22534-e3db-11e6-807a-f949057d8779.png)

IdentityModule.j

[2017-01-27 16:58] tiagolb commented on #149
@jboulmal This is the error I'm getting also. I have followed @vitormsilva suggestion of implementing the node-webcrypto-ossl library with the appropriate extension to the runtimeFactory. But this error is not directly related to that.

What happens is that the nodejs user is fake and as such it is not authenticated in the same way the browser user is authenticated. This means that the internal st

[2017-01-30 08:46] jboulmal commented on #149
But @tiagolb I don't have this issue in case :
[code]

As temporary fix! could you disable authentication for Observer Hyperty on Runtime Node ?
This will help us to progress in the development of Group communication in reTHINK.

[2017-01-30 12:09] tiagolb commented on #149
@jboulmal What I'm going to try is to change Nodejs' fake user profile to have a generated keyPair each time do this error doesn't occur. I'll keep you updated.

[2017-01-30 13:55] tiagolb commented on #149
@jboulmal I added some of the missing information in the user profile of the Nodejs fake user and that specific error was bypassed, but I'm  getting a Promise rejection regarding the nodejs.

This is the rejection print bellow:

![mutual3](https://cloud.githubusercontent.com/assets/8178030/22425584/bf6d452a-e6f3-11e6-9a72-cf05b2c33b50.png)

[2017-01-30 14:01] jboulmal commented on #149
@tiagolb Have you pushed your updates, so that I can't debug from my side concurrently ?
P.S : which version of node you're on ?

[2017-01-30 14:21] tiagolb commented on #149
@jboulmal I haven't yet because I have found another problem connected to the runtime-core. My node version is 7.4

[2017-01-30 15:48] jboulmal commented on #149
I thought you're on an old version!

[2017-01-30 16:42] tiagolb commented on #149
@jboulmal It seems the IDM does some encoding [here](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-interworking/src/identity/Crypto.js#L669) which doesn't work with Nodejs. I'm trying to find an alternative which works for the nodejs environment.

[2017-01-30 19:11] tiagolb commented on #149
@jboulmal
@vitormsilva

I solved the underlying issue of the encoding process.

But further down the execution I receive a `Response timeout!` in Nodejs and the browser console lights up with some errors.

I'll leave the logs here:

[nodejs-issue149.txt](https://github.com/reTHINK-project/dev-runtime-core/files/739993/nodejs-issue149.txt)

[browser-issue149.txt](https://github.com/reTHINK-project/

[2017-01-31 08:18] jboulmal commented on #149
@tiagolb @vitormsilva , please @tiagolb push them in separate branch, and tell us how to replicate your test may be on slack!

[2017-01-31 10:32] tiagolb commented on #149
@jboulmal I pushed the changes made to `runtime-core` in a branch called `issue149`. I'd like to do the same for the changes made to the `runtime-nodejs` but I don't have permissions to do so.

Anyway, I've been discussing with @vitormsilva and we realized that this problem is still related to the Mutual Authentication issue.

[code]

As you can see, the `value` attribute is still encrypted, and i

[2017-01-31 10:38] jboulmal commented on #149
@tiagolb Thanks for the feedbacks and updates!
Ask @pchainho about the permission.
You shouldn't have been denied!

[2017-01-31 10:41] tiagolb commented on #149
@jboulmal Can you give me permission? @pchainho isn't available to give the permission right now. Thanks

[2017-01-31 11:44] tiagolb commented on #149
@jboulmal @vitormsilva I'm also having a `Response timeout!` message when trying out the browser <-> browser scenario. And according to the code in IDM, I think the `value` attribute of the example given above should actually be that way (as shown).

[2017-01-31 13:23] jboulmal commented on #149
@tiagolb I'm afraid I don't have the authorization to give or deny permissions. I can't do it!
I think @pchainho has the access rights for the section `settings` of the repo!

[2017-01-31 14:03] tiagolb commented on #149
I'll ask him again. Thanks!

[2017-01-31 14:40] tiagolb commented on #149
@jboulmal I pushed my changes to both the dev-runtime-core and dev-runtime-nodejs repositories. The branch I created is called `issue149`. For everything else (msg-node, hyperty-toolkit and registry-domain) I have used the `develop` branch.

Can you run my code and report the errors you get?

[2017-01-31 16:30] tiagolb commented on #149
I've disabled mutual authentication in runtime-core branch `mutualAuthDisabled`

Next I'll try these options (suggested by @pchainho ):
1) create an identity for an idp in which there exists a functional idp proxy (eg. google)
2) create a fake idp proxy fake for nodejs identities not connected to any IDP

[2017-02-06 09:23] jboulmal commented on #149
It has been unblocked  by disabling  `mutual authentication` in runtime-core temporarily.

[2017-02-06 11:57] pchainho opened #155 "Update documentation"
Update documentation in your source code and then execute `npm run build:doc`.

[2017-02-06 12:03] tiagolb commented on #145
There's a discrepancy regarding the implementation and the specs, which means I have to add the `reporter` field to the message. So far no further development has been made.

[2017-02-07 09:42] dvilchez opened #156 "Catalog uris resolution"
It doesn't work with subdomains for legacy interworking.

<img width="871" alt="screen-shot-2017-02-07-10-41-52" src="https://cloud.githubusercontent.com/assets/153025/22685811/0dd01a06-ed22-11e6-97c9-f1afa764c47b.png">

Right domain: ims.rethink-project.eu

[2017-02-07 19:03] pchainho commented on #156
It is working. Try in dev-p2p, pls

![image](https://cloud.githubusercontent.com/assets/3893553/22706679/0aa459a0-ed68-11e6-989b-e0dd9743deaf.png)

[2017-02-13 13:35] tiagolb commented on #145
@pchainho Who is responsible for editing the `reporter` field in this message? Without the `reporter` field in the incoming message the IDM doesn't have access to it and as such I cannot remove the Domain Registry query.

[2017-02-13 13:40] tiagolb commented on #149
I'm trying to follow the second approach of creating an idP proxy for nodejs identities which doesn't connect to any idP. I have a token in this idP proxy which is answered back when the idP proxy is queried.

But I'm having difficulties getting the idP proxy to work. I've adapted this [idp Proxy template](https://github.com/reTHINK-project/dev-protostubs/blob/master/src/idpproxy/ProxyStubTemplate

[2017-02-14 14:20] fbeierle commented on #33
Update: We integrate the storage manager for the Graph Connector and also integrated the discovery service in the Address Book.

Pull requests for master branches in runtime-core and runtime-browser:
https://github.com/reTHINK-project/dev-runtime-core/pull/157
https://github.com/reTHINK-project/dev-runtime-browser/pull/72

To run (same as before):
checkout branch "addressbook-app" from dev-hyperty

[2017-02-15 12:27] pchainho commented on #156
reopen if needed pls

[2017-02-15 12:27] #156 closed

[2017-02-15 12:32] pchainho opened #158 "IDM and IdP Proxy: assertions are not validated by the recipient runtime"
As fas as I understand, the IDM and IdP Proxies are not yet validating assertions generated by the source runtime

[2017-02-16 15:14] tiagolb commented on #158
The IDM is requesting this validation to the IdP Proxy. We can see this in the code here:

![issue158](https://cloud.githubusercontent.com/assets/8178030/23025377/ac65a700-f455-11e6-8647-134dcf88f153.png)

And we can also see that this request is being made here:

![issue158-2](https://cloud.githubusercontent.com/assets/8178030/23025426/daa29d44-f455-11e6-9154-54f3e4438be5.png)

Now, I'm verifying

[2017-02-16 15:36] tiagolb commented on #145
@pchainho any news about this issue?

[2017-02-16 16:56] #158 closed

[2017-02-20 13:52] tiagolb commented on #149
I'm adopting a new strategy regarding this issue. The code is implemented in such a way that the IDM manages the nodejs interaction differently (it specifies the generateAssertion methodology for instance, although incorrectly). What I am to do, in order to accelerate the progress of this issue is to, instead of defining a new IdP Proxy for nodejs, adapt the specific nodejs implementation and hard

[2017-02-22 11:19] vitormsilva commented on #147
I think this issue need to be reopened..

Due a fix did on the PEP, now we have again an error related with the mutual Auth.

### Steps to reproduce (common to both):
1. Open two chrome windows
2. Load the group-chat-manager  hyperty
3. Invite the other participant..

#### Resuming the observer window, until now all will working
4. refresh the window of invited participant (observer)
5. load the g

[2017-02-22 11:39] tiagolb opened #160 "IdP Proxies not deployed in Nodejs"
IdP Proxies are not deployed in Nodejs.

In order to fix the mutual authentication in nodejs issue [https://github.com/reTHINK-project/dev-runtime-core/issues/149](here) I need IdP Proxies to be successfully deployed in nodejs.

This is the log of the deployment process for Google's IdP Proxy:
[code]

Comparing this log with the equivalent log in the browser we can see that after step 6 we get thi

[2017-02-22 11:41] tiagolb commented on #149
This issue is currently delayed because of #160

[2017-02-22 14:13] tiagolb commented on #147
What was the fix you did to the PEP?

[2017-02-22 14:27] vitormsilva commented on #147
To handle the forward messages - https://github.com/reTHINK-project/dev-runtime-core/blob/063da11b9776c008950f762991a3561ff5151eb1/src/policy/PEP.js#L143-L144

[2017-02-23 11:21] pchainho commented on #147
pls give priority to this one.

[2017-02-24 09:55] tiagolb commented on #145
@pchainho any news about this issue?

[2017-02-24 16:39] pchainho opened #161 "Policy Engine: Domain Access Control"
As specified [here](https://github.com/reTHINK-project/specs/issues/21). It may require somehow an extension of the policy engine in order to have access to required information from the Id Token.

At the end give examples policies to be enforced for this purpose.

[2017-02-24 17:13] pchainho opened #162 "Id Token generation for Stub Loader"
As required [here](https://github.com/reTHINK-project/specs/issues/20#issuecomment-281678010)

[2017-02-24 17:17] pchainho opened #163 "Id Token expiry time validation"
Currently, IDM re-uses Id Tokens and Access Tokens without checking the expiry time.

[2017-02-24 18:42] pchainho opened #164 "Identity Module Unit Testing"
It is very incomplete: https://github.com/reTHINK-project/dev-runtime-core/blob/develop/test/IdentityModule.spec.js

[2017-02-27 16:31] pchainho opened #165 "RuntimeUA - Catalogue: support runtime capabilities"
When invoking `catalogue.getDescriptors..()` runtime capabilities should be passed as constraints

[2017-02-27 16:36] pchainho commented on #160
pending on:

- [ ] https://github.com/reTHINK-project/dev-hyperty-toolkit/issues/32
- [ ] https://github.com/reTHINK-project/dev-protostubs/issues/8
- [ ] #165
- [ ] https://github.com/reTHINK-project/dev-runtime-nodejs/issues/17

[2017-03-01 17:11] sbecot opened #166 "Wrong Identity referenced in the ID Module"
The ID module seems to suppose that the identifier is an email format, which is usually the case, but not always (for example Microsoft proposes a phone number in its login form).
If I use the google authent I can see two cases.
* My account is a google email adress.
Thus I'm using john.doe@gmail.com to authenticate. The Idp referenced appears to be _gmail.com_ but it should be _accounts.google.co

[2017-03-02 16:14] vitormsilva commented on #165
Done on this [commit](https://github.com/reTHINK-project/dev-runtime-core/commit/32ed748012bd3e735ea69182267ce44933062950)

[2017-03-02 16:14] #165 closed

[2017-03-03 11:28] dvilchez opened #168 "Runtime url resolution"
Runtime URL is stored using the storage manager and recovered from it if it is present. The problem with this behavior is it is make impossible to execute two application from the same domain since both will get the same runtime URL.

[2017-03-03 11:33] pchainho commented on #168
draft idea: set a boolean status to know if the address is already being used

[2017-03-03 13:30] pchainho commented on #168
Complete proposal to fix this:

- [ ]  `runtimeUA.init()` check storage manager has any runtimeUrl with `live = false`. If no, generates a new RuntimeURL, otherwises reuses any runtime url with `live = false`. At the end sets in the storage manager the allocated address with `live = true`.
- [ ] `runtimeUA.close()` set in the storage manager, runtimeUrl with`live = false`
- [ ] `registry.registerH

[2017-03-03 13:36] pchainho commented on #168
To be noted this shouldn't be a problem with the runtime sharing feature

[2017-03-06 14:41] vitormsilva commented on #147
@tiagolb,

Now in the branch store-data-objects, you have the [store-object](https://github.com/reTHINK-project/dev-runtime-core/blob/store-data-objects/src/runtime/RuntimeUA.js#L141) component on the Runtime, now you can pass the `storeDataObjects` to inside the class you want.

After that, you can call the method [getDataObject](https://github.com/reTHINK-project/dev-runtime-core/blob/store-data

[2017-03-08 14:01] tiagolb commented on #160
@jboulmal I've heard the nodejs runtime already supports the deployment of IDP proxies. Is this true? Can this issue be closed?

[2017-03-08 15:54] SenanSharhan opened #170 "karma Test is not working for the graphConnector"
We have merged our branch " develop-graphConnector " with the develop branch, and every thing is working except the karma test is not calling any tests of the (test/GraphConnector.spec.js) !

The test results can be seen here
https://travis-ci.org/reTHINK-project/dev-runtime-core/builds/209015804

and this is our tests
https://github.com/reTHINK-project/dev-runtime-core/blob/develop-graphConnector

[2017-03-08 16:02] tiagolb commented on #163
@pchainho I have fixed this issue in this [branch](https://github.com/reTHINK-project/dev-runtime-core/tree/issue163).

But for legacy hyperties the assertion does not have an expiration time for the access token. So I wont close this issue yet.

[2017-03-09 14:35] vitormsilva opened #171 ""window" reference inside the identity module"
To have this [Runtime Sharing](https://github.com/reTHINK-project/dev-runtime-browser/issues/66) feature, we need to install the RuntimeUA inside a shared worker, until now, no problem.
The problem is when we install an hypery, inside the Identity Module we have a reference to the "window" method [here](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/identity/IdentityModule.js

[2017-03-09 15:55] tiagolb commented on #171
I'll change this reference to the identity-gui in the runtime-browser.

[2017-03-10 10:53] dvilchez commented on #163
But I am using Google to get the token and it has an expiration time. @pchainho @tiagolb

[2017-03-10 11:56] tiagolb commented on #163
@dvilchez I don't understand why this issue was reopened. As I mentioned before, this issue has been fixed [here](https://github.com/reTHINK-project/dev-runtime-core/tree/issue163). Please explain clearly any subjacent issue that may concern you regarding this.

[2017-03-10 11:59] dvilchez commented on #163
Hi @tiagolb, probably I misunderstanding you I thought you didn't implement expiration date verification for legacy domains.

Could you confirm it is now working? @tiagolb

[2017-03-10 12:06] tiagolb commented on #163
I didn't implement expiration time verification for the Slack.com domain because it does not have any expiration time. I left a link on the closing comment for this issue confirming this. For the remaining domains this is implemented.

[2017-03-10 17:33] pchainho commented on #163
I guess in some legacy domains like IMS, you may still have tokens with expiration date

[2017-03-13 10:15] jboulmal commented on #160
Hello @tiagolb, I have updated the nodejs-runtime according to latest version of runtime-core.
herr [reTHINK-project/dev-runtime-nodejs#17](https://github.com/reTHINK-project/dev-runtime-nodejs/issues/17)

[2017-03-13 12:52] tiagolb commented on #160
Thanks @jboulmal I'll take a look at it as soon as I can.

[2017-03-13 14:15] tiagolb commented on #163
I think the solution must be to offload the token expiration verification to the IdP Proxy then, and the IDM sends a message to the corresponding IdP Proxy querying if the token is valid or not. For domains that send tokens that are always valid they just need to return `true`.

[2017-03-15 10:02] vitormsilva commented on #170
Hi,
I was looking at this issue.. and in my opinion, you should change your testing code from:

[code]
to something like this:

[code]

Probably you will have more errors when fixing this.

You can "mock" the registry and other modules like you did to the `identityModule`, in this snippet, to handle only the methods what you want.

You can look at other tests.

Try and let me know if it is works;

[2017-03-15 17:05] SenanSharhan commented on #170
@vitormsilva

i did what you what you suggested, but still the same !

the code
https://github.com/reTHINK-project/dev-runtime-core/blob/7be5c01113d17efb623179ba49a17f98206340fe/test/GraphConnector.spec.js#L27

the test result !
https://travis-ci.org/reTHINK-project/dev-runtime-core/builds/211430292

[2017-03-16 09:55] vitormsilva commented on #170
My mistake, sorry, I forgot close the `before` function with `(` at the end.

[code]
You should not only copy and paste but try to understand how it's done.

[2017-03-16 11:30] tiagolb commented on #163
I have fixed this issue by verifying for all identities (even for legacy domains) whether the identity assertions has the expiration time. If it does not, then I assume the token does not expire, otherwise I test it accordingly.

I'll create a document specifying how the IdP Proxy must add the expiration time to the identity assertion on the `generateAssertion` function.

[2017-03-16 11:30] #163 closed

[2017-03-16 12:21] SenanSharhan commented on #170
@vitormsilva  i already did close the `before` function with **`)`**, but the problem was i closed it at the end of the code.

The code looks like this now :

[code]

but i get now another error `"The address allocation was not instaniated"` see here ->
https://travis-ci.org/reTHINK-project/dev-runtime-core/builds/211721321#L2018

[2017-03-16 13:48] vitormsilva commented on #170
Instantiate the Address Allocation module like this:

[code]

[2017-03-20 13:38] vitormsilva commented on #170
@SenanSharhan,

Have you progressed on this? need some kind of help?

[2017-03-20 14:37] pchainho commented on #160
@tiagolb what is the status of this one?

[2017-03-20 14:44] pchainho commented on #171
What is the status of this one?

[2017-03-20 18:04] tiagolb commented on #147
@vitormsilva I've used the function you implemented to overcome the problem I was having in this issue.

But now, when the reporter sends a message to the observer this shows up:

![decrypt-error](https://cloud.githubusercontent.com/assets/8178030/24114222/5920d956-0d97-11e7-927a-7a89a7a8acec.png)

By analysing this log I think the problem arises before the message reaches the IDM. Do you have any

[2017-03-20 18:17] tiagolb commented on #166
@sbecot Could you please give me more information regarding this issue?

I'm asking this because, in the first case I get a different result than the one described.
Using the email `john.doe@gmail.com` I get this:
[code]

Instead of this:
[code]

In the second case I don't really see a problem, because if you use the admin gui to setup your identities you have to select an identity provider before

[2017-03-20 18:31] tiagolb commented on #171
I have moved the `openPopup` funtion, where this "window" reference is present, to the identity-gui in `dev-runtime-browser`. But this is not enough since the runtime-core still needs to call this function when the hyperty-toolkit is in `dev` mode.

[2017-03-20 18:31] tiagolb opened #177 "Supporting the openPopup function in the hyperty-toolkit"
Acording to issue #171 , the "window" reference needs to be removed from the IDM.

As I mentioned in issue #171 the `openPopup` funtion where this reference is present has been moved to the identity-gui in `dev-runtime-browser`. But, since this function is needed when the toolkit is in `dev` mode, as well as in `browser` mode, I can't just have it in the dev-runtime-browser alone.

@vitormsilva Me

[2017-03-20 18:32] tiagolb commented on #171
I've created issue #177 asking for this function to be supported in the hyperty-toolkit as a solution for this problem.

[2017-03-20 19:24] tiagolb commented on #160
I'm working on it now

[2017-03-21 10:00] vitormsilva commented on #147
@tiagolb,

One note before, the branch `store-data-objects` don't exist anymore, it was merged into the develop branch, because we need some fixes done in this branch, sorry.
You can rename your current branch with `git branch -m <newname>`.

So, how can I test that issue, to see if I can help you?

[2017-03-21 10:02] vitormsilva commented on #177
What you need from my side? How can i help you?

[2017-03-21 11:16] tiagolb commented on #177
@vitormsilva If you could implement the openPopup function in the hyperty-toolkit that would be great. I'm having some trouble doing so and since you know how the hyperty works (unlike me) you can do that much faster.

The openPopup function is [here](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/identity/IdentityModule.js#L441).

[2017-03-21 11:19] tiagolb commented on #147
@vitormsilva Thanks. I'll commit my changes to the repository for you to test. I'll tell you when I've done this.

[2017-03-21 12:27] SenanSharhan commented on #170
@vitormsilva,

Thanks, now everything is working fine, see (https://travis-ci.org/reTHINK-project/dev-runtime-core/builds/213385758).

[2017-03-21 12:27] #170 closed

[2017-03-21 12:35] Ricardo-Chaves commented on #177
This must be implemented at the runtime. It is not a IdM issue. Correct @vitormsilva / @pchainho?

[2017-03-21 16:32] tiagolb commented on #160
@jboulmal and @pchainho I have verified that I can now deploy IdP Proxies on the nodejs runtime, so I'll close this issue.

The pending issues regarding nodejs authentication (which remain open as of today) are:
#149 , #122 and [dev-protostubs#8](https://github.com/reTHINK-project/dev-protostubs/issues/8)

I'm working on these.

[2017-03-21 16:32] #160 closed

[2017-03-21 16:39] tiagolb commented on #166
I have performed some tests and I've come to the conclusion that this is functional and is performing without the described error above. If you are still getting this error please reopen the issue and provide an example for me to test and verify, so that I can fix it later on.

This said, I'll close this issue.

[2017-03-21 16:39] #166 closed

[2017-03-21 18:31] vitormsilva commented on #177
I did a version of the toolkit with the `openPopup` feature.
By default only load the `google.com` IDP.

It's in develop branch of the toolkit.

[2017-03-21 22:40] tiagolb commented on #177
@vitormsilva I'll test it tomorrow and once everything works we can close this issue as well as issue #171

[2017-03-22 08:03] sbecot commented on #166
It may have been corrected, I have to test it with the last version, but if you want to see an example with the error above you can try https://call.rethink.orange-labs.fr/ .
Anyway, google.com is the name of the IdP proxy provided in the catalogue, but certainly not the IdP of google. The google IdP is "accounts.google.com", so it would at least more convient to name the IdP Proxy "Google" instea

[2017-03-22 09:52] pchainho opened #178 "Graph Connector: reduce size"
Currently the Graph Connector is too big around ~3.5 M in dev mode. Pls reduce it as much as possible

[2017-03-23 09:28] fbeierle commented on #178
We started working on this: https://github.com/reTHINK-project/dev-runtime-core/tree/issue178
We already could reduce the size by 1 M and we are looking if we can further reduce it.

[2017-03-28 09:54] tiagolb commented on #177
I've modified the code [here](https://github.com/reTHINK-project/dev-hyperty-toolkit/pull/42) to support just the openPopup function, which is what we need. I'll now close this issue.

[2017-03-28 09:54] #177 closed

[2017-03-28 10:00] tiagolb commented on #171
I've fixed this issue here:

- [dev-runtime-core#window-reference-fix](https://github.com/reTHINK-project/dev-runtime-core/tree/window-reference-fix)
- [dev-runtime-browser#window-reference-fix](https://github.com/reTHINK-project/dev-runtime-browser/tree/window-reference-fix)

This all works fine in my local machine, but the runtime-core branch I'm working on does not pass all the tests. I believe

[2017-03-28 13:29] fbeierle commented on #178
We tried a few things but weren't successful in reducing the size further.

We had the idea if it would be possible to distribute the runtime in some gzipped format in order to reduce the size.

For now, I'll create a pull request and close this issue

@sgoendoer @SenanSharhan @vitormsilva @pchainho

[2017-03-28 13:29] #178 closed

[2017-04-10 15:58] tiagolb commented on #147
I've fixed this issue [here](https://github.com/reTHINK-project/dev-runtime-core/pull/183).

Approve this pull request (the tests are failing in develop, so the tests on this branch as failing as well).

[2017-04-11 09:41] tiagolb commented on #171
This specific issue has been fixed, but there are still problems related other GUI references inside the shared worker. These problems are described here: [dev-runtime-browser#67](https://github.com/reTHINK-project/dev-runtime-browser/issues/67).

I'll close this issue now.

[2017-04-11 09:41] #171 closed

[2017-04-13 10:46] pchainho commented on #147
We are still having problems with data objects resume when mutual authentication is used, since messages are stored encrypted and when resumed we need to decrypt them: how can we do that?

[2017-04-13 11:38] tiagolb commented on #147
I've to take a look at how the messages are stored and maybe support a function that retrieves these messages so other components can access these.

[2017-04-17 16:43] pchainho opened #188 "Login popup issues"
When loading Group Chat Manager, if I take some time (1-2 sec) to login:

![image](https://cloud.githubusercontent.com/assets/3893553/25095300/16853bfc-2393-11e7-967d-fcae4b136947.png)

The same kind of problem when inviting a slack user for a Group Chat:

![image](https://cloud.githubusercontent.com/assets/3893553/25095846/537e90e2-2395-11e7-9b00-b1fe5f8f3548.png)

[2017-04-17 18:37] tiagolb commented on #188
@pchainho Could you please check where that first `TypeError: Cannot read property 'profile' of undefined` appears? My code never tries to read a property named profile.

Also, I have tested commenting the code that validates the token expiration dates as to assess whether this code introduced the problem and it seems the same problem regarding the `profile` property still remains, which in turn c

[2017-04-18 10:05] tiagolb commented on #188
@pchainho the problem for this issue is related to the OpenPopup function being only accessible via the messageBus. I've changed the openPopup function back to the IDM as a test and it works normally. But once the messageBus is used we get a timeout and the messageBus responds before the openPopup function answers (it responds by replying the sent message) thus, since the response is incorrect, an

[2017-04-18 13:30] tiagolb commented on #149
The mutual authentication process of nodejs is working. By this I mean that nodejs validates the assertion generated by a browser hyperty and sends a valid assertion to that same hyperty.

But I'm having a problem regarding differences between webcrypto and the crypto library in nodejs. I'm getting this error when the key exchange process happens between the two hyperties, specifically when a key

[2017-04-18 15:51] tiagolb commented on #188
This issue has been fixed in these pull requests:
https://github.com/reTHINK-project/dev-runtime-core/pull/189
https://github.com/reTHINK-project/dev-hyperty-toolkit/pull/46

[2017-04-18 15:51] #188 closed

[2017-04-21 18:03] pchainho commented on #147
@tiagolb has provided functions at IDM to decrypt and encrypt data object and the sync manager was also updated to use it.

From the Core Runtime everything seems to work fine and the syncher receives data objects decrypted to be resumed however, somehow, just before the DataObjectChild is instantiated, it appears again encrypted ... black magic

![pasted image at 2017_04_20 10_42 pm](https://clou

[2017-04-21 18:48] pchainho opened #192 "loadHyperty: Add Idp config to let App authenticate"
As discussed [here](https://github.com/reTHINK-project/governance-security-implementation/issues/45#issuecomment-286096870)

IDM already supports this feature:

https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/identity/IdentityModule.js#L616

Add new option input IdpConstraint parameter;

[code]

to:

- [x] [Loader.loadHyperty()](https://github.com/reTHINK-project/dev-runtime-c

[2017-04-21 19:04] tiagolb commented on #192
@pchainho IDM does not support that feature in the code you presented there.

But it does support this feature in this branch of the runtime-core I created: [dev-runtime-core#id-app-level](https://github.com/reTHINK-project/dev-runtime-core/tree/id-app-level).

Particularly, that function receives an object that must have these attributes:
[code]

You can see it here: https://github.com/reTHINK-pr

[2017-04-21 19:08] pchainho commented on #192
fixed

[2017-04-30 16:50] pchainho commented on #192
Hyperty loading updated to support idpConstraint.

@dvilchez can you update the runtime browser pls?

@jboulmal  can you update the runtime nodejs pls?

@tiagolb: in the meanwhile I've noticed [`identityModule.getIdentityAssertion(..)`](https://github.com/reTHINK-project/dev-runtime-core/blob/id-app-level/src/identity/IdentityModule.js#L638-L641) only consider these constraints if all 3 are presen

[2017-05-01 18:12] tiagolb commented on #192
@pchainho Yes, I'll do that.

[2017-05-02 11:18] tiagolb commented on #192
@pchainho Even though, from my understanding of this [issue](https://github.com/reTHINK-project/governance-security-implementation/issues/45#issuecomment-288651620) the hint seems mandatory, I have changed the code to only expect the `idp` attribute to be mandatory. and the `idHint` and `origin` attributes to be optional.

[2017-05-02 16:54] pchainho commented on #147
The resume of encrypted data objects is working fine

[2017-05-03 10:56] pchainho commented on #82
closing

[2017-05-03 10:56] #82 closed

[2017-05-03 10:57] pchainho commented on #33
since I think this already merged I'm closing

[2017-05-03 10:57] #33 closed

[2017-05-08 11:27] #147 closed

[2017-05-11 15:23] pchainho opened #199 "Mutual Authentication error for Subscribes after resume"
When a subscription is performed after the Reporter is resumed at least once, the mutual authentication fails.

![image](https://cloud.githubusercontent.com/assets/3893553/25957303/e4fefe52-3665-11e7-8b64-cb878788dc1a.png)

Steps to replicate with Group Chat Manager:

1- create a group without adding any participant
2- restart runtime with Group Chat Manager
3- invite a new participant or a remote

[2017-05-17 16:31] tiagolb commented on #199
What's happening is that during the mutual authentication process when inviting a new participant, some data that should exist is returning as `undefined`, probably because the registry is not prepared to save this data in the first place.

These are the two functions that should return correct values:
https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/registry/Registry.js#L225
h

[2017-05-17 17:38] tiagolb commented on #199
@BernardoMG is fixing the registry

[2017-05-18 14:55] tiagolb commented on #199
Fixed on this pull request: https://github.com/reTHINK-project/dev-runtime-core/pull/200

I'm going to close this issue now.

[2017-05-18 14:55] #199 closed

[2017-05-27 06:42] pchainho opened #203 "Runtime Catalogue: always download from catalogue when locally cached"
It seems the Runtime Cayalogue  is always loading from the catalogue server even if the items are locally available from the storage manager:

![image](https://cloud.githubusercontent.com/assets/3893553/26518789/a262c1cc-42af-11e7-99af-f97610a0db8c.png)

![image](https://cloud.githubusercontent.com/assets/3893553/26518801/d1cec92e-42af-11e7-854b-f84e1b4228af.png)

I suspect the Storage Manager is

[2017-05-29 12:50] pchainho commented on #203
fixed in the Require.js

[2017-05-29 12:50] #203 closed

[2017-05-30 15:04] luistduarte opened #204 "Tests of Graph Connector with problems"
We are with problems running tests of GraphConnector, you can check it out on Travis [build](https://travis-ci.org/reTHINK-project/dev-runtime-core#L4193)
Can you fix it?

[2017-05-31 11:54] Trikolon commented on #118
This issue is still affecting our deployment. No replies since October 2016, please look into it.
So far we were only able to implement this functionality using 'dirty workarounds'. We'd love to see official support for sending http-requests across runtimes.

[2017-05-31 12:55] Endebert opened #205 "merge conflicts in dist files"
someone pushed dist files containing merge errors. this causes everything depending on runtime core to fail.

Please fix as soon as possible.

[2017-05-31 15:15] #205 closed

[2017-05-31 15:30] fbeierle commented on #204
I fixed it and created a pull request to the develop branch: https://github.com/reTHINK-project/dev-runtime-core/pull/206

[2017-05-31 15:30] #204 closed

[2017-06-08 09:18] vitormsilva opened #207 "Login with others IDP"
Hi @tiagolb,

We are testing the login with other IDPs, like Microsoft, and for every IDP we chose, the login popup which is opening is always the google one.
I have some print screens to help understand:

![screenshot from 2017-06-08 10-15-54](https://user-images.githubusercontent.com/10596749/26921350-aeefbe1c-4c33-11e7-8327-1932b6475381.png)

[2017-06-08 11:29] tiagolb commented on #207
Fixed in #208

[2017-06-08 11:29] #207 closed

[2017-06-09 12:45] vitormsilva opened #209 "Microsft IDP's specs alignment"
Hi @tiagolb,

When we try to load the Microsoft proxy, we get an error referencing the "expires" field?
I don't know if it is aligned with the specs, could you give a revision, please;

Thanks.

[2017-06-28 15:05] pchainho opened #213 "Chrome: Access to IndexedDB is denied when the browser is configured to block third party cookies and data sites"
When Chrome (chrome://settings/content ) is configured like:

![image](https://user-images.githubusercontent.com/3893553/27644239-e18a8608-5c1a-11e7-8c8a-f4502fca6f7a.png)

The runtime core storage manager does not have access to Browser Local Storage and the following exception is raised:

`UnknownError The user denied permission to access the database`

The StorageManager should catch this error

[2017-06-29 11:56] tiagolb commented on #209
Fixed in #212

[2017-06-29 11:56] #209 closed

[2017-07-04 14:17] pchainho commented on #145
The implementation was aligned with the specs and the info about the data object reporter should now be available

[2017-10-16 16:19] pchainho commented on #149
A reference I found that may help: http://people.ischool.berkeley.edu/~nick/signal-protocol-js/

[2017-11-15 13:18] lopes120 commented on #149
To test NodeJS, the branch issue149 must be used on the dev-runtime-core, dev-runtime-nodejs and dev-protostubs repositories.

[2017-12-18 18:32] pchainho opened #246 "IDM Refactory"
To align with new Identity Data Model:

**OIDC Idp Proxy changes:**

- [x] `generateAssertion()`:
  - replace infoToken by userProfile according to data model
  - remove IdentityBundle
- [x] `googleConverter()`: translate google user profile to rethink user profile

**Identity changes:**

- [x] Adapt according to new model and rename to Identites. It will also incorporate all persistence features.

[2018-03-03 19:22] #246 closed

[2018-03-03 19:41] pchainho opened #256 "Registration of Hyperties and Data Objects as optional"
Use `input.registration = false` to skip the registration of Hyperties and Data Objects in the Domain Registration.

[2018-03-27 10:34] pchainho opened #257 "Runtime close with option to logout"
At [`runtimeUA.close()`](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/runtime/RuntimeUA.js#L435) add `logout` parameter that if `true` invokes a `identityManager.reset()` (new function) that cleans `currentIdentity` and `defaultIdentity`.

[2018-04-03 13:21] #257 closed

[2018-06-11 18:18] pchainho opened #259 "Refresh Tokens support"
Check [oauth proxy](https://auth-server.herokuapp.com)

[2018-06-12 11:27] pchainho opened #260 "KPIs"
Add support to KPIs by using external Data Analytics eg Google Analytics or some Data Analytics Open Source server.

[2018-07-26 16:40] pchainho opened #263 "Release for Sharing Lx Trial"
Set logs to production level

[2018-08-20 10:03] #263 closed

[2018-08-24 16:18] #192 closed

[2018-08-24 16:22] pchainho opened #269 "IDM: Improve handling of Errors Coming from IdP Proxy"
loginURL is not being used by IdentitiesGUI to openPopup at https://github.com/reTHINK-project/dev-runtime-core/blob/idpProxyErrorHandling/src/identity/IdentityModule.js#L600-L607

[2018-08-28 13:34] #164 closed

[2018-09-07 17:11] pchainho opened #272 "Offline Sync Stream setup"
Features to support the setup of sync streams between peers without having to have both simultaneously online:

- [x] `Syncher.subscribe()` new `offline` input parameter with the address of Offline Subscription Manager hyperty. This parameter should be set in the Hyperties configuration. Mutual should be set to false (tbc).

- [x] syncherManager._newReporterSubscription(): call new `processOffline

[2018-10-08 13:24] pchainho opened #273 "IDM: Save CGUID in a separated Identities table"

[2018-10-08 13:40] pchainho opened #274 "Identities: reset"
Remove IdToken and don't create a new Identities instance.

[2018-10-12 10:25] pchainho opened #276 "Improve Management of Local Storage Reset"
Improve Storage Manager implementation in order to warn the user when availability storage is reaching a limit and / or when requesting storage persistence we got a false result (currently, the following log is printed: "Storage may be cleared by the UA under storage pressure" at https://github.com/reTHINK-project/dev-hyperty-toolkit/blob/develop/resources/factories/runtimeFactory.js#L72-L76).

We

[2018-10-17 16:48] luistduarte commented on #276
`var db;
imgurl = "dog.jpg";

function urlTo64(u, cb) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', imgurl, true);
  xhr.responseType = 'blob';

  xhr.onload = function(e) {
    if (this.status == 200) {
      // get binary data as a response
      var blob = this.response;
      var reader = new FileReader();
      reader.readAsDataURL(blob);
      reader.onloadend = function() {

[2018-10-20 17:02] #272 closed

[2018-10-25 05:10] pchainho commented on #276
Running the above test it was confirmed when `navigator.storage.persist()` resolves `false`, when reTHINK storage manager reaches the storage limit (to evaluate the limit), using some other sites and coming back to reTHINK based App, the local storage is cleaned.

Looking at https://developers.google.com/web/updates/2016/06/persistent-storage it was found:

Bookmarking reTHINK origin (in this case

[2018-10-25 08:04] pchainho commented on #276
Evaluate the usage of this API: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/bookmarks/create

to add a bookmark to runtime origin.

Another option is to set push notifications.

[2018-10-25 15:44] pchainho commented on #276
It has been confirmed that enabling push notifications for the core, `storage.persist(()` is granted.

But permission request is not displayed when the origin is the App, only when the core domain is the origin.

[2018-11-05 10:26] pchainho opened #279 "IDM: handle refresh assertion errors"
[here](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/identity/IdentityModule.js#L303-L306) and [here](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/identity/IdentityModule.js#L331-L335), add handler for `_refreshIdAssertion()` rejection by requesting new IdAssertion ie user has to login again

[2018-11-05 11:28] #279 closed, assigned to nobody

[2019-02-15 12:36] pchainho opened #285 "RuntimeCatalogue: offline usage"
To enable offline usage, use current stored version of catalogue objects in case `runtimeFactory.isOnline()`. retrieves false.

- [x] Add runtimeCatalogue URL as data storage key in order to query it without the cguid

- [x] [before calling the catalogue backend](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/runtime-catalogue/RuntimeCatalogue.js#L46) check `runtimeFactory.is

[2019-02-18 16:47] #285 closed

[2019-02-18 16:57] pchainho opened #286 "runtime ua: support offline"
use listenOnline / listenOffline to publish network status events to be handled by protosubs and hyeprties (if required)

[2019-02-18 17:24] #286 closed

[2019-02-18 19:01] pchainho opened #287 "Domain Registration: offline support"
When offline set listener on online runtime status event to retry